@*@{
        ViewData["Title"] = "Detail";
}*@
<link href="~/css/detailproduct.css" rel="stylesheet" />

<body>
    <div id="content-detail">
        <div id="products-detail">
            <div id="product-name">
                <h1 class="heading"> <a href="/Home/Index">Home</a> | <a href="/ProductList">Product List</a> | <span>@Model.ProductName</span> </h1>
                
                <div class="row product-detail">
                    <div class="col-sm-6 product-detail-left">
                        <div>
                            <div id="product-img" class="imga">
                                <img id="mainImage" src="@Model.Picture" />
                            </div>
                            @*<div id="product-img-items">
                                <div><a href="#"><img src="@Model.Picture" onclick="changeMainImage(this)" /></a></div>
                                <div><a href="#"><img src="@Model.Picture" onclick="changeMainImage(this)" /></a></div>
                                <div><a href="#"><img src="@Model.Picture" onclick="changeMainImage(this)" /></a></div>
                                <div><a href="#"><img src="@Model.Picture" onclick="changeMainImage(this)" /></a></div>
                            </div>*@
                            <script src="~/js/changeimage.js"></script>
                            
                        </div>
                    </div>
                    <div class="col-sm-6 product-detail-right">
                        <div>
                            <div class="info-detail">
                                <div id="info-detail-title">
                                    <h2>Thông Tin Sản Phẩm</h2>
                                    <div id="info-detail-description" style="margin:10px auto;">
                                        @Model.Desciption
                                    </div>
                                </div>
                            </div>
                            <div class="product-detail-right-content">
                                <div id="product-price">@Model.Price VND</div>
                                    <div id="product-status" style="font-size : 25px">
                                        @if (Model.Status == false || Model.Quanlity <= 0)
                                        {
                                            <span style="color: red;">Hết hàng</span>
                                        }
                                        else if (Model.Status == true || Model.Quanlity > 0)
                                        {
                                            <span style="color: green;">Còn hàng</span>
                                        }
                                    </div>
                               
                                </div>
                                <span style="color:green">@ViewData["successmess"]</span>
                        </div>
                        <div id="product-detail-buttons">

                            @if (Model.Status == false || Model.Quanlity <= 0)
                            {
                                <div id="product-detail-button" style=" text-align:center">
                                    <a href="#"><input style="background-color:#fff ; color:red;" type="button" value="Hết Hàng"></a>
                                </div>
                            }
                            else
                            {
                                <div id="product-detail-button">
                                    <a><input type="button" value="BUY NOW"></a>
                                    <a><input type="button" value="ADD TO CART"></a>
                                </div>
                            }

                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    </div>
</body>