<!doctype html>
<html class="no-js" lang="en">

<head>

    <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.png">
    <link rel="stylesheet" href="/assets/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/vendor/font-awesome.css">
    <link rel="stylesheet" href="/assets/css/vendor/flaticon/flaticon.css">
    <link rel="stylesheet" href="/assets/css/vendor/slick.css">
    <link rel="stylesheet" href="/assets/css/vendor/slick-theme.css">
    <link rel="stylesheet" href="/assets/css/vendor/jquery-ui.min.css">
    <link rel="stylesheet" href="/assets/css/vendor/sal.css">
    <link rel="stylesheet" href="/assets/css/vendor/magnific-popup.css">
    <link rel="stylesheet" href="/assets/css/vendor/base.css">
    <link rel="stylesheet" href="/assets/css/style.min.css">
    <link rel="stylesheet" href="/css/ProductDetail.css">

</head>


<body class="sticky-header">
    <a href="#top" class="back-to-top" id="backto-top"><i class="fal fa-arrow-up"></i></a>
    <header class="header axil-header header-style-5">

    </header>

    <main class="main-wrapper">
        <div class="axil-single-product-area bg-color-white">
            <div class="single-product-thumb axil-section-gap pb--30 pb_sm--20">
                <div class="container">
                    <div class="row row--50">
                        <div class="col-lg-6 mb--40">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="product-large-thumbnail-2 single-product-thumbnail axil-product slick-layout-wrapper--15 axil-slick-arrow arrow-both-side-3">
                                        <div class="thumbnail">
                                            <img src="@Model.Product.Picture" alt="Product Images">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="small-thumb-wrapper product-small-thumb-2 small-thumb-style-two small-thumb-style-three">
                                        @foreach (var cateProduct in Model.CateProduct)
                                        {
                                        <div class="small-thumb-img ">
                                           <a href="/ProductList/Detail?proId=@cateProduct.ProductId"> <img src="@cateProduct.Picture" alt="samll-thumb"> </a>
                                        </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 mb--40">
                            <div class="single-product-content">
                                <div class="inner">
                                    <h2 class="product-title">@Model.Product.ProductName</h2>
                                    <div class="price-amount price-offer-amount">
                                        <span class="price current-price">@Model.Product.Price</span>
                                    </div>
                                    <div class="product-rating">
                                        <div class="star-rating">
                                            @for (int i = 1; i <= 5; i++)
                                            {
                                                if (i <= (ViewBag.productStar ?? 5))
                                                {
                                                    <i class="fas fa-star"></i>
                                                }
                                                else
                                                {
                                                    <i class="far fa-star"></i>
                                                }
                                            }
                                        </div>
                                        <div class="review-link">
                                            <a href="#">(<span>@ViewBag.FeedbackCount</span> đánh giá của khách hàng)</a>
                                        </div>
                                    </div>
                                    <ul class="product-meta">
                                        <li><i class="fal fa-check"></i>Sản phẩm đảm bảo chất lượng</li>
                                        <li><i class="fal fa-check"></i>Nhân viên tư vấn tận tình</li>
                                    </ul>
                                    <p class="description mb--40">@Model.Product.Desciption</p>
                                    <div class="product-variation product-size-variation">
                                        <h6 class="title">Số lượng:</h6>
                                        <div class="pro-qty mr--20">
                                            <input 
                                                   id="quantityInput"
                                                   class="form-control"
                                                   type="number"
                                                   value="1"
                                                   min="1"
                                                   oninput="validity.valid||(value='1');" />
                                        </div>
                                        <span>@Model.Product.Quantity sản phẩm có sẵn</span>
                                    </div>
                                    <div class="product-action-wrapper d-flex-center">
                                        <!-- Start Product Action  -->
                                        <ul class="product-action action-style-two d-flex-center mb--0">
                                            @if (@Model.Product.Quantity > 0)
                                            {
                                                <form method="post" action="@Url.Action("AddToCart", "ProductList")">
                                                    @Html.AntiForgeryToken()
                                                    <input type="hidden" name="ProductId" value="@Model.Product.ProductId" />
                                                    <button class="axil-btn btn-bg-primary updateProductQuantityCart" type="button" style="width:300px;">
                                                        <i class="fas fa-cart-plus"></i> Thêm vào giỏ hàng
                                                    </button>
                                                </form>
                                                <form method="post" action="@Url.Action("AddToCart", "ProductList")">
                                                    @Html.AntiForgeryToken()
                                                    <input type="hidden" name="ProductId" id="productId" value="@Model.Product.ProductId" />
                                                    <button style="width:200px; margin-left: 5px;" href="" class="axil-btn btn-bg-primary updateProductQuantity" type="submit">
                                                        <i class="fas fa-cart-plus"></i>Mua ngay
                                                    </button>
                                                </form>
                                            }
                                            else
                                            {
                                            }
                                        </ul>
                                        <!-- End Product Action  -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
    </main>

    <script src="/assets/js/vendor/jquery.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var priceElements = document.querySelectorAll('.current-price');
            priceElements.forEach(function (priceElement) {
                var priceText = priceElement.textContent.trim();
                var price = parseFloat(priceText.replace(/\s/g, '').replace('VNĐ', ''));
                var formattedPrice = price.toLocaleString('vi-VN');
                priceElement.textContent = formattedPrice + ' VNĐ';
            });
        });

        $(document).ready(function () {
            $(".updateProductQuantity").click(function (event) {
                event.preventDefault();
                var productid = $("#productId").val();
                var quantity = $("#quantityInput").val();

                $.ajax({
                    type: "POST",
                    url: "@Url.Action("AddToCart", "ProductList")",
                    data: {
                        productid: productid,
                        quantityProduct: quantity
                    },
                    success: function (result) {
                        window.location.href = "@Url.Action("Index", "Cart")";
                    },
                    error: function (error) {
                        console.error("Error updating cart:", error);
                    }
                });
            });

            $(".updateProductQuantityCart").click(function (event) {
                event.preventDefault();
                var productid = $("#productId").val();
                var quantity = $("#quantityInput").val();

                $.ajax({
                    type: "POST",
                    url: "@Url.Action("AddToCart", "ProductList")",
                    data: {
                        productid: productid,
                        quantityProduct: quantity
                    },
                    headers: {
                        RequestVerificationToken: $('input[name="__RequestVerificationToken"]').val()
                    },
                    success: function (result) {
                        $('#successModal').modal('show');
                        console.log(result);
                        updateCartCount(result.totalQuantity);
                    },
                    error: function (error) {
                        console.error("Error updating cart:", error);
                    }
                });
            });
        });
    </script>

    <!-- Modernizer JS -->
    <script src="/assets/js/vendor/modernizr.min.js"></script>
    <!-- jQuery JS -->
    <script src="/assets/js/vendor/jquery.js"></script>
    <!-- Bootstrap JS -->
    <script src="/assets/js/vendor/popper.min.js"></script>
    <script src="/assets/js/vendor/bootstrap.min.js"></script>
    <script src="/assets/js/vendor/slick.min.js"></script>
    <script src="/assets/js/vendor/js.cookie.js"></script>
    <!-- <script src="assets/js/vendor/jquery.style.switcher.js"></script> -->
    <script src="/assets/js/vendor/jquery-ui.min.js"></script>
    <script src="/assets/js/vendor/jquery.ui.touch-punch.min.js"></script>
    <script src="/assets/js/vendor/jquery.countdown.min.js"></script>
    <script src="/assets/js/vendor/sal.js"></script>
    <script src="/assets/js/vendor/jquery.magnific-popup.min.js"></script>
    <script src="/assets/js/vendor/imagesloaded.pkgd.min.js"></script>
    <script src="/assets/js/vendor/isotope.pkgd.min.js"></script>
    <script src="/assets/js/vendor/counterup.js"></script>
    <script src="/assets/js/vendor/waypoints.min.js"></script>
    <script src="/assets/js/main.js"></script>
</body>
</html>