<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PET SERVICES</title>
    <!-- Add jQuery from CDN -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-H+K7U5/3xX1vMK6r5ce7h3lDJPFt79YC8fC1R5fBd8w=" crossorigin="anonymous"></script>

    <!-- Add Slick slider CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />

    <!-- Add Slick slider JS from CDN -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

    <link href="~/css/productlist.css" rel="stylesheet" />
    <link rel="stylesheet" href="script.js">
</head>
<body>
    <div id="section-products">
        <h1 class="heading"> <span>Sản Phẩm</span> </h1>
        <div class="products-left">
            <div class="left">
                <div>
                    <h3>Loại phòng:</h3>
                    <div>
                        <form method="get" id="myForm">
                            <input type="hidden" name="pricefrom" value="@ViewBag.pricefrom" />
                            <input type="hidden" name="priceto" value="@ViewBag.priceto" />
                            <input type="hidden" name="sortby" value="@ViewBag.sortby" />
                            <input type="hidden" name="productname" value="@ViewBag.productname" />
                            <input type="hidden" name="pagesize" value="@ViewBag.pagesize" />
                            <input type="hidden" name="viewstyle" value="@ViewBag.viewstyle" />
                            @foreach (var category in ViewBag.Categories)
                            {
                                <a class="containerCate" href="javascript:void(0);" onclick="filterByCategory('@category.Value')">
                                    <label>
                                        <input type="checkbox" value="@category.Value" @(ViewBag.productcategory == category.Value ? "checked" : "")>
                                        <p>@category.Text</p>
                                    </label>
                                </a>
                            }
                            <input type="hidden" id="productcategory" name="productcategory" value="" />
                        </form>
                    </div>
                </div>
                <div class="containerprice">
                    <h3>Giá:</h3>
                    <div>
                        <form method="get">
                            <input type="hidden" name="productcategory" value="@ViewBag.productcategory" />
                            <input type="hidden" name="sortby" value="@ViewBag.sortby" />
                            <input type="hidden" name="productname" value="@ViewBag.productname" />
                            <input type="hidden" name="pagesize" value="@ViewBag.pagesize" />
                            <input type="hidden" name="viewstyle" value="@ViewBag.viewstyle" />

                            <div class="price-container">
                                <div class="number-control">
                                    <div style="display: flex;">
                                        <p>Từ</p>
                                        <input type="number" name="pricefrom" class="number-quantity" value="@ViewBag.pricefrom" min="0">
                                        <p>đ</p>
                                    </div>
                                    <div style="display: flex;">
                                        <p>Đến</p>
                                        <input type="number" name="priceto" class="number-quantity" value="@ViewBag.priceto" min="0" style="text-transform: uppercase;">
                                        <p>đ</p>
                                    </div>
                                </div>
                                <button>
                                    <span>Tìm kiếm</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <div>
                    <h3>Sắp xếp theo:</h3>
                    <div>
                        <form method="get" id="sortForm">
                            <input type="hidden" name="roomcategory" value="@ViewBag.roomcategory" />
                            <input type="hidden" name="pricefrom" value="@ViewBag.pricefrom" />
                            <input type="hidden" name="priceto" value="@ViewBag.priceto" />
                            <input type="hidden" name="roomname" value="@ViewBag.roomname" />
                            <input type="hidden" name="pagesize" value="@ViewBag.pagesize" />
                            <input type="hidden" name="viewstyle" value="@ViewBag.viewstyle" />

                            <div>
                                <a class="containerCate" href="javascript:void(0);" onclick="sortBy('name_asc')">
                                    <label>
                                        <input type="checkbox" value="name_asc" @(ViewBag.sortby == "name_asc" ? "checked" : "")>
                                        <p>Tên từ A-Z</p>
                                    </label>
                                </a>
                                <a class="containerCate" href="javascript:void(0);" onclick="sortBy('name_desc')">
                                    <label>
                                        <input type="checkbox" value="name_desc" @(ViewBag.sortby == "name_desc" ? "checked" : "")>
                                        <p>Tên từ Z-A</p>
                                    </label>
                                </a>
                                <a class="containerCate" href="javascript:void(0);" onclick="sortBy('price')">
                                    <label>
                                        <input type="checkbox" value="price" @(ViewBag.sortby == "price" ? "checked" : "")>
                                        <p>Giá từ thấp đến cao</p>
                                    </label>
                                </a>
                                <a class="containerCate" href="javascript:void(0);" onclick="sortBy('price_desc')">
                                    <label>
                                        <input type="checkbox" value="price_desc" @(ViewBag.sortby == "price_desc" ? "checked" : "")>
                                        <p>Giá từ cao đến thấp</p>
                                    </label>
                                </a>
                            </div>
                            <input type="hidden" id="sortby" name="sortby" value="" />
                        </form>
                    </div>
                </div>
            </div>
            <div class="right">
                <section class="products">
                    <div class="box-container">
                        @foreach (var product in Model)
                        {
                            <div class="box">
                                <div class="image">
                                    <img src="@product.Picture" />
                                    <div class="icons">
                                        <a href="#" class="cart-btn"><i class="fa-solid fa-cart-plus"></i> Thêm Vào Giỏ Hàng</a>
                                        <a href="#" class="cart-btn"><i class="fa-solid fa-bag-shopping"></i> Mua Ngay</a>
                                    </div>
                                </div>
                                <div class="content">
                                    <a href="/ProductList/Detail?proId=@product.ProductId">@product.ProductName</a>
                                    <div class="price">@product.Price VND</div>
                                </div>
                            </div>
                        }
                    </div>

                </section>
                <div style="text-align:center;">
                    <div class="pagination">
                        @if (ViewBag.CurrentPage > 1)
                        {
                            <a href="@Url.Action("Index", new { page = ViewBag.CurrentPage - 1, productcategory=ViewBag.productcategory, pricefrom=ViewBag.pricefrom, priceto=ViewBag.priceto, sortby=ViewBag.sortby, productname=ViewBag.productname, pagesize=@ViewBag.pagesize, viewstyle=@ViewBag.viewstyle })">&laquo;</a>
                        }

                        @for (int i = 1; i <= ViewBag.TotalPages; i++)
                        {
                            <a class="active" href="@Url.Action("Index", new { page = i, productcategory=ViewBag.productcategory, pricefrom=ViewBag.pricefrom, priceto=ViewBag.priceto, sortby=ViewBag.sortby, productname=ViewBag.productname, pagesize=@ViewBag.pagesize, viewstyle=@ViewBag.viewstyle })">@i</a>
                        }
                        @if (ViewBag.CurrentPage < ViewBag.TotalPages)
                        {
                            <a href="@Url.Action("Index", new { page = ViewBag.CurrentPage + 1, productcategory=ViewBag.productcategory, pricefrom=ViewBag.pricefrom, priceto=ViewBag.priceto, sortby=ViewBag.sortby, productname=ViewBag.productname, pagesize=@ViewBag.pagesize, viewstyle=@ViewBag.viewstyle })">&raquo;</a>
                        }
                    </div>
                </div>
            </div>
            

        </div>
    </div>

    <script>
        document.querySelectorAll('#myForm input[type="checkbox"]').forEach(function (checkbox) {
            checkbox.addEventListener('click', function () {
                if (this.checked) {
                    document.getElementById('productcategory').value = this.value;
                } else {
                    document.getElementById('productcategory').value = null;
                }
                document.getElementById('myForm').submit();
            });
        });

        document.querySelectorAll('#sortForm input[type="checkbox"]').forEach(function (checkbox) {
            checkbox.addEventListener('click', function () {
                if (this.checked) {
                    document.getElementById('sortby').value = this.value;
                } else {
                    document.getElementById('sortby').value = null;
                }
                document.getElementById('sortForm').submit();
            });
        });

        // format url
        var currentUrl = window.location.href;
        var updatedUrl = currentUrl.replace(/&?(\w+)=(&|$)/g, '')
            .replace(/&&/g, '&')
            .replace(/\?&/, '?')
            .replace(/\?$/, '');
        window.history.replaceState({}, document.title, updatedUrl);
    </script>
    <script>
        //format double
        window.onload = function () {
            var priceElements = document.querySelectorAll('.price');

            priceElements.forEach(function (priceElement) {
                var price = priceElement.textContent.split(' ')[0];
                var formattedPrice = Number(price).toLocaleString().replace(/,/g, ".");
                priceElement.textContent = formattedPrice + ' đ';
            });
        }
    </script>
</body>

</html>

