@*@model FEPetServices.Form.ProductDTO*@
<h1 style="text-align:center">Chi Tiết Sản Phẩm</h1>
<link href="~/css/manager/product.css" rel="stylesheet" />
<link href="~/css/toastNotification.css" rel="stylesheet" />
<script src="~/js/manager/product.js"></script>
<div class="container container-add-new">
    <form asp-action="Update" method="post" enctype="multipart/form-data" onsubmit="return validateForm();">
        <div class="noidung">
            <div class="anh-product">
                <div class="form-group">
                    <div class="title">
                        <label for="image">Ảnh:</label>
                    </div>
                    <div class="typeinput">
                        <input type="file" class="form-control" id="image" name="image" onchange="changeImageSource()" >
                        @if (!string.IsNullOrEmpty(Model?.Picture))
                        {
                            <img class="form-control-anh" src="@Model?.Picture" height="50%" width="50%" style="float: left; margin-top: 10px;" id="imagePreview" />
                        }
                        else
                        {
                            <img class="form-control-anh" src="~/img/add-image-1.png" height="50%" width="50%" style="float: left; margin-top: 10px;" id="imagePreview" />
                        }
                    </div>
                </div>
            </div>
            <div class="noidung-product">
                <div class="form-group">
                    <div class="title">
                        <label for="ProductName">Tên Sản Phẩm<i class="fa-sharp fa-solid fa-asterisk fa-rotate-270 fa-xs"></i>: </label>
                    </div>
                    <div class="typeinput">
                        <input type="text" class="form-control" id="ProductName" name="ProductName" value="@Model?.ProductName" style="width:100%" required />
                        <div style="color: red" class="error-message" id="fnameErrorMessage"></div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="title">
                        <label for="Price">Giá Sản Phẩm<i class="fa-sharp fa-solid fa-asterisk fa-rotate-270 fa-xs"></i>: </label>
                    </div>
                    <div class="typeinput">
                        <input type="text" class="form-control" id="Price" name="Price" value="@Model?.Price" style="width:100%" required />
                        <div style="color: red" class="error-message" id="fnameErrorMessage"></div>
                    </div>

                </div>
                @*<div class="form-group">
                <div class="title">
                <label for="Quantity">Số Lượng Sản Phẩm: </label>
                </div>
                <div class="typeinput">
                <input type="text" class="form-control" id="Quantity" name="Quantity" value="@Model?.Quantity" style="width:100%" required/>
                <div style="color: red" class="error-message" id="fnameErrorMessage"></div>
                </div>
                </div>*@
                <div class="form-group">
                    <div class="title">
                        <label for="Desciption">Mô Tả Chi Tiết<i class="fa-sharp fa-solid fa-asterisk fa-rotate-270 fa-xs"></i>: </label>
                    </div>
                    <div class="typeinput">
                        <textarea class="form-control" id="Desciption" name="Desciption" style="width:100%; height: auto" required>@Model?.Desciption</textarea>
                        <div style="color: red" class="error-message" id="subjectErrorMessage"></div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="title">
                        <label for="Status">Trạng Thái<i class="fa-sharp fa-solid fa-asterisk fa-rotate-270 fa-xs"></i>: </label>
                    </div>
                    <div class="typeinput" style="display:flex">
                        <label class="switch">
                            <input type="checkbox" name="Status" @(Model?.Status ? "checked" : "")>
                            <span class="slider round"></span>
                        </label>
                        <div style="color: red" class="error-message" id="fnameErrorMessage"></div>
                    </div>

                </div>
                <div class="form-group">
                    <div class="title">
                        <label for="CreateDate">Ngày Thêm Sản Phẩm<i class="fa-sharp fa-solid fa-asterisk fa-rotate-270 fa-xs"></i>: </label>
                    </div>
                    <div class="typeinput">
                        <input type="date" class="form-control" id="CreateDate" name="CreateDate" value="@Model?.CreateDate?.ToString("yyyy-MM-dd")" style="width:100%" disabled />
                        <div style="color: red" class="error-message" id="fnameErrorMessage"></div>
                    </div>

                </div>
                <div class="form-group">
                    <div class="title">
                        <label for="ProCategoriesId">Loại Sản Phẩm<i class="fa-sharp fa-solid fa-asterisk fa-rotate-270 fa-xs"></i>: </label>
                    </div>
                    <div class="typeinput">
                        <select id="ProCategoriesId" name="ProCategoriesId" required>
                            <option value="@Model.ProCategoriesId">@Model.ProCategoriesName</option>
                            @foreach (var cate in ViewBag.ProCategories)
                            {
                                <option value="@cate.Value">@cate.Text</option>
                            }
                        </select>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6" style="text-align:left">
                <button type="submit" class="btn btn-primary">Cập Nhập</button>
            </div>
            <div class="col-6" style="text-align:right">
                <button class="btn btn-primary" type="button" onclick="returnProduct()">
                    Quay lại Danh Sách
                </button>
            </div>
        </div>
    </form>
</div>
<style>
.fa-asterisk{
    color:red;
}
</style>