@{
    ViewData["Title"] = "Thêm Loại Sản Phẩm";
}
<h1 style="text-align:center">Thêm Loại Sản Phẩm Mới</h1>
@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
{
    <div class="alert alert-danger" style="color:red">
        @ViewBag.ErrorMessage
    </div>
}
@if (!string.IsNullOrEmpty(TempData["SuccessMessage"]?.ToString()))
{
    <div class="alert alert-success" style="color:red">
        @TempData["SuccessMessage"]
    </div>
}
<link href="~/css/manager/product.css" rel="stylesheet" />

<div class="container-add-new">
    <form asp-action="Update" method="post" enctype="multipart/form-data" onsubmit="return validateForm();">
        <div class="noidung">
            <div class="anh-product">
                <div class="form-group">
                    <div class="title">
                        <label for="image">Ảnh:</label>
                    </div>
                    <div class="typeinput">
                        <input type="file" class="form-control" id="image" name="image" onchange="changeImageSource()">
                        @if (!string.IsNullOrEmpty(Model?.Picture))
                        {
                            <img class="form-control-anh" src="@Model?.Picture" height="50%" width="50%" style="float: left;" id="imagePreview" />
                        }
                        else
                        {
                            <img class="form-control-anh" src="~/img/add-image-1.png" height="50%" width="50%" style="float: left;" id="imagePreview" />
                        }
                    </div>
                </div>
            </div>
            <div class="noidung-product">
                <div class="form-group">
                    <div class="title">
                        <label for="ProductName">Tên Sản Phẩm: </label>
                    </div>
                    <div class="typeinput">
                        <input type="text" class="form-control" id="ProductName" name="ProductName" value="@Model?.ProductName" style="width:100%" />
                        <div style="color: red" class="error-message" id="fnameErrorMessage"></div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="title">
                        <label for="Price">Giá Sản Phẩm: </label>
                    </div>
                    <div class="typeinput">
                        <input type="text" class="form-control" id="Price" name="Price" value="@Model?.Price" style="width:100%" />
                        <div style="color: red" class="error-message" id="fnameErrorMessage"></div>
                    </div>

                </div>
                @*<div class="form-group">
                    <div class="title">
                        <label for="Quantity">Số Lượng Sản Phẩm: </label>
                    </div>
                    <div class="typeinput">
                        <input type="text" class="form-control" id="Quantity" name="Quantity" value="@Model?.Quantity" style="width:100%" />
                        <div style="color: red" class="error-message" id="fnameErrorMessage"></div>
                    </div>
                </div>*@
                <div class="form-group">
                    <div class="title">
                        <label for="Desciption">Mô Tả Chi Tiết: </label>
                    </div>
                    <div class="typeinput">
                        <textarea class="form-control" id="Desciption" name="Desciption" style="width:100%; height: auto">@Model?.Desciption</textarea>
                        <div style="color: red" class="error-message" id="subjectErrorMessage"></div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="title">
                        <label for="Status">Trạng Thái: </label>
                    </div>
                    <div class="typeinput" style="display:flex">
                        <label class="switch">
                            <input type="checkbox" name="Status" @(Model?.Status ? "checked" : "")>
                            <span class="slider round"></span>
                        </label>
                        <div style="color: red" class="error-message" id="fnameErrorMessage"></div>
                    </div>

                </div>
                <div class="form-group">
                    <div class="title">
                        <label for="CreateDate">Ngày Thêm Sản Phẩm: </label>
                    </div>
                    <div class="typeinput">
                        <input type="date" class="form-control" id="CreateDate" name="CreateDate" value="@Model?.CreateDate.ToString("yyyy-MM-dd")" style="width:100%" disabled/>
                        <div style="color: red" class="error-message" id="fnameErrorMessage"></div>
                    </div>

                </div>
                <div class="form-group">
                    <div class="title">
                        <label for="ProCategoriesId">Loại Sản Phẩm: </label>
                    </div>
                    <div class="typeinput">
                            <select id="ProCategoriesId" name="ProCategoriesId" required>
                                <option value="@Model.ProCategoriesId">@Model.ProCategoriesName</option>
                                @foreach (var cate in ViewBag.ProCategories)
                                {
                                    <option value="@cate.Value">@cate.Text</option>
                                }
                            </select>
                    </div>

                </div>
            </div>
        </div>
        <div class="btn-cate">
            <div class="btn-add-new">
                <button type="submit" class="btn btn-primary" style="background: #FFD6E4; color: #E21033;">Cập Nhập</button>
            </div>
            <div class="btn-return-proList">
                <button type="button" style="background: #FFD6E4; color: #E21033;" onclick="returnProduct()">
                    Quay lại Danh Sách
                </button>
            </div>
        </div>
    </form>
    <script src="~/js/manager/product.js" />
</div>