﻿@using FEPetServices.Form.OrdersForm;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/css/toastNotification.css" rel="stylesheet" />
    <link href="~/css/orders/stylesheet.css" rel="stylesheet" />
    <link href="~/css/map.css" rel="stylesheet" />
    <link href="~/css/OrderDetail.css" rel="stylesheet" />
    <link href="~/css/orders/roomdetail.css" rel="stylesheet" />
</head>
<body>
    <div class="card right-profile-card">
        <div class="card-header alert-primary">
            <div class="back-list" onclick="goBack()">
                <span><i class="fa-solid fa-chevron-left"></i></span>
                Trở lại
            </div>
            <div class="header-contents">
                <div class="header-content-code"> Mã đơn hàng : @Model.OrderId | </div>
                <div class="header-content-status">
                    @if (Model.OrderStatus.Trim() == "Confirmed")
                    {
                        <span style="display:inline-block" class="badge badge-info">Đã trả phòng</span>
                    }
                    else if (Model.OrderStatus.Trim() == "Processing")
                    {
                        <span style="display:inline-block" class="badge badge-info">Đã nhận phòng</span>
                    }
                    else if (Model.OrderStatus.Trim() == "Placed")
                    {
                        <span style="display:inline-block" class="badge badge-info">Chờ nhận phòng</span>
                    }
                    else if (Model.OrderStatus.Trim() == "Cancelled")
                    {
                        <span style="display:inline-block" class="badge badge-info">Phòng bị huỷ </span>
                    }
                </div>
            </div>
        </div>

        @if (Model.OrderStatus.Trim() != "Cancelled")
        {
            <section class="vh-25 p-1">
                <div class="container h-100">
                    <div class="row d-flex justify-content-center align-items-center h-100">
                        <div class="col-12">
                            <div class="card card-stepper text-black" style="border-radius: 16px;">
                                <div class="card-body" style="max-height: 90px;">
                                    <ul id="progressbar-2" class="d-flex justify-content-between mx-0 mt-0 mb-5 px-0 pt-0 pb-2">
                                        <li class="step0 @if(Model.OrderStatus.Trim() == "Placed" || Model.OrderStatus.Trim() == "Processing"
                                        || Model.OrderStatus.Trim() == "Confirmed"
                                        ) {
                                    <text>active</text>
                                    } text-center" id="step1">
                                                    <i class="fa-solid fa-house-medical-circle-exclamation"></i>
                                                </li>
                                        <li class="step0 @if(Model.OrderStatus.Trim() == "Confirmed" || Model.OrderStatus.Trim() == "Processing"
                                        ) {
                                    <text>active</text>
                                    } text-center" id="step2">
                                        <i class="fa-solid fa-house-circle-check"></i>
                                                </li>
                                        <li class="step0 @if(Model.OrderStatus.Trim() == "Confirmed" ) {
                                    <text>active</text>
                                    } text-center" id="step3">
                                        <i class="fa-solid fa-house-chimney-crack"></i>
                                                </li>
                                        <li class="step0 @if(Model.OrderStatus.Trim() == "Confirmed") {
                                    <text>active</text>
                                     }  text-end" id="step5">
                                                    <i class="fa-regular fa-star"></i>
                                                </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="d-flex justify-content-between">
                                <div class="d-lg-flex">
                                    <div>
                                        <p class="mb-0">Chờ nhận phòng</p>
                                    </div>
                                </div>
                                <div class="d-lg-flex">
                                    <div>
                                        <p class="mb-0">Đã nhận phòng</p>
                                    </div>
                                </div>
                                <div class="d-lg-flex">
                                    <div>
                                        <p class="mb-0">Đã trả phòng</p>
                                    </div>
                                </div>
                                <div class="d-lg-flex">
                                    <div>
                                        <p class="mb-0">Đánh giá</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        }
        else if (Model.OrderStatus.Trim() == "Cancelled")
        {
            <div class="card-body cancelled-order" style="border-radius:0px">
                <p>Phòng bị huỷ !!!</p>
            </div>
        }

        <div class="card-order-infomation">
            <div class="card-order-header">
                <p>Thông tin người đặt phòng</p>
            </div>
            <div class="card-order-detail">
                <p>@Model.FullName</p>
                <p style="color:rgba(0, 0, 0, 0.6)">@Model.Phone</p>
                <p style="color:rgba(0, 0, 0, 0.6)">@Model.Province , @Model.District , @Model.Commune, @Model.Address</p>
            </div>
        </div>

        <div class="card-body" style="background-color:rgba(0, 0, 0, 0.03); border-radius:0px">
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">

                    @*Start - Room Detail*@
                    @if (Model.BookingRoomDetails != null && Model.BookingRoomDetails.Count > 0)
                    {
                        <div class="content-details">
                            <p class="bold-text">Thông tin phòng đã được đặt hàng</p>
                            @foreach (var roomDetail in Model.BookingRoomDetails)
                            {
                                <div class="content-detail">
                                    <div class="room-info">
                                        <img src="@roomDetail.Room.Picture" width="50" height="50" alt="Room Image">
                                        <div class="room-info-detail">
                                            <p style="max-width:800px">@roomDetail.Room.RoomName</p>
                                            @foreach (var roomService in Model.BookingRoomServices)
                                            {
                                                <div class="room-info-detail-service">
                                                    <p style="font-size:.8rem;">Dịch vụ: @roomService.Service.ServiceName</p>
                                                    <p class="price-service-rooom" style="font-size:.8rem;">@($"{(roomService.PriceService):n0}".Replace(",", ".")) VNĐ</p>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="content-detail-time">
                                    <p style="font-size:.9rem;">Thời gian bắt đầu: @roomDetail.StartDate</p>
                                    <p style="font-size:.9rem;">Thời gian kêt thúc: @roomDetail.EndDate</p>
                                </div>
                                @if ((roomDetail.FeedbackStatus == null || roomDetail.FeedbackStatus == false) && Model?.OrderStatus.Trim() == "Confirmed")
                                {
                                    <div class="btn-content-detail">
                                        <button class="btn btn-outline-primary" onclick="openPopupRoom('@roomDetail.Room.Picture', '@roomDetail.Room.RoomName', '@roomDetail.RoomId', '@Model.UserInfoId', '@Model.OrderId')">Đánh giá</button>
                                    </div>
                                }
                            }
                        </div>
                    }
                    @*End - Room Detail*@

                    <div class="headel-content">
                        <p>Tổng giá : </p>
                        <p>@(Model.TotalPrice.ToString("n0").Replace(",", ".")) VNĐ</p>
                    </div>
                    <div class="work-container-inner">
                        @if (Model != null && Model.TypePay != null && Model.TypePay.Trim() == "cash")
                        {
                            <p>Thanh toán trực tiếp</p>
                        }
                        @if (Model != null && Model.TypePay != null && Model.TypePay.Trim() == "vnpay")
                        {
                            <p>Thanh toán bằng hình thức chuyển khoản</p>
                        }
                        @if (!Model.StatusPayment)
                        {
                            <span class="badge badge-info">Chưa thanh toán</span>
                        }
                        else
                        {
                            <span class="badge badge-info">Đã thanh toán</span>
                        }
                    </div>
                </div>
            </div>
        </div>
        @if (Model.OrderStatus.Trim() == "Cancelled")
        {
            <div class="card-body cancelled-order-footer" style="border-radius:0px">
                <div class="reason-order-heder">
                    <p style="font-size: 18px">Lý do : </p>
                </div>
                @foreach (var reasonOrder in Model.ReasonOrders)
                {
                    <div class="reason-order-content">
                        <p>Tiêu đề: @reasonOrder.ReasonOrderTitle</p>
                        <p>Mô tả: @reasonOrder.ReasonOrderDescription</p>
                        <p style="color:rgba(0, 0, 0, 0.69)">Thời gian :@reasonOrder.RejectTime</p>
                    </div>
                }
            </div>
        }
    </div>
    <script src="~/js/map.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAMF53NXGYhHFNQQcT87lhe0ieM3AkUjYM"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            updateConnectorWidth();
        });

        window.addEventListener("resize", function () {
            updateConnectorWidth();
        });

        function updateConnectorWidth() {
            var progressBar = document.getElementById("progressbar-2");
            var steps = progressBar.getElementsByTagName("li");

            for (var i = 0; i < steps.length - 1; i++) {
                var connector = document.createElement("div");
                connector.classList.add("connector");
                steps[i].appendChild(connector);

                var nextStepLeft = steps[i + 1].offsetLeft;
                var currentStepRight = steps[i].offsetLeft + steps[i].offsetWidth;

                var connectorWidth = nextStepLeft - currentStepRight;
                connector.style.width = connectorWidth + "px";
            }
        };

        function goBack() {
            window.history.go(-1);
        };
    </script>
</body>
</html>
