<style>
    h1 {
        text-align: center;
    }

    #RoomCategory {
        width: 100%;
        margin-top: 30px;
        border-collapse: collapse;
    }

        #RoomCategory th,
        #RoomCategory td {
            padding: 10px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        #RoomCategory th {
            background-color: #f2f2f2;
        }

    .future-status {
        color: gray;
    }

    .complete-status {
        color: green;
    }

    .dataTables_wrapper .dataTables_filter {
        float: right;
        margin-bottom: 10px;
    }

    /*.addRoomCategoryButton {
        float: left; 
        margin-right: 10px;
        width: 150px;
        height: 25px;
    }*/

    .btn-add {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        border-radius: 4px;
        background-color: #E21033;
        border: none;
        color: white;
        padding: 7px 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 0px 10px;
        cursor: pointer;
        float: right;
        margin-right: 30px;
        margin-bottom: 20px;
    }

        .btn-add:hover {
            box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
            background-color: #ff6347;
        }

    .dataTables_wrapper .dataTables_filter input[type="search"] {
        margin-left: 10px;
    }

    .dataTables_wrapper {
        margin: 30px;
    }

    .btn-active {
        background-color: #43e240;
        color: white;
        font-size: 13px;
        width: 135px;
        height: 40px;
        border-radius: 5px;
    }

    .btn-inactive {
        background-color: #f2110d;
        color: white;
        font-size: 13px;
        width: 135px;
        height: 40px;
        border-radius: 5px;
    }

    .btn-detail {
        text-align: center;
        border-radius: 5px;
        font-size: 15px;
        color: white;
        display: inline-block;
        padding: 8px;
        border: 1px solid ;
        width: 100px;
        height: 40px;
        background-color: #E21033;
        text-decoration: none;
        cursor: pointer;
    }

    .btn-detail:hover{
            color: black;
        }

</style>

<link href="//cdn.datatables.net/buttons/1.7.1/css/buttons.dataTables.min.css" rel="stylesheet">
<link href="//cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css" rel="stylesheet">

@section Scripts {
    <script src="//code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="//cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script src="//cdn.datatables.net/buttons/1.7.1/js/dataTables.buttons.min.js"></script>
    <script src="//cdn.datatables.net/buttons/1.7.1/js/buttons.html5.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="//cdn.datatables.net/buttons/1.7.1/js/buttons.print.min.js"></script>
    <script src="//cdn.datatables.net/buttons/1.7.1/js/buttons.colVis.min.js"></script>
    <script src="//cdn.datatables.net/buttons/1.7.1/js/buttons.excel.min.js"></script>
    <script src="//cdn.datatables.net/buttons/1.7.1/js/dataTables.buttons.min.js"></script>

    <script>
        $(document).ready(function () {
            var table = $('#RoomCategory').DataTable({
                "paging": true,
                "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "columnDefs": [
                    { "targets": [0], "width": "5%" },
                    { "targets": [1], "width": "20%" },
                    { "targets": [2], "width": "30%" },
                    { "targets": [3], "width": "20%" }, 
                    { "targets": [4], "width": "15%" },
                    { "targets": [5], "width": "10%" },
                ],
                "language": {
                    "lengthMenu": "Hiển thị _MENU_ dòng",
                    "info": "Hiển thị _START_ - _END_ trên tổng cộng _TOTAL_ dòng",
                    "search": "Tìm kiếm:",
                    "paginate": {
                        "first": "Đầu",
                        "last": "Cuối",
                        "next": "Tiếp",
                        "previous": "Trước"
                    }
                },
            });

            var addRoomCategoryButton = $('<button id="addRoomCategoryButton" class="btn btn-add btn-primary">Thêm loại phòng</button>');
            $('.dataTables_filter').append(addRoomCategoryButton);

            $('#addRoomCategoryButton').on('click', function () {
                window.location.href = '/Manager/RoomCategory/AddRoomCategory';
            });

        });
    </script>
}
<h1 style="font-size: 40px; font-weight: bold;">Danh sách các loại phòng cho thú cưng</h1>

<table id="RoomCategory" class="display">
    <thead>
        <tr>
            <th>STT</th>
            <th>Tên loại phòng</th>
            <th>Mô tả</th>
            <th>Ảnh</th>
            <th>Trạng thái</th>
            <th>Chi tiết</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Count > 0)
        {
            int itemCount = 0;
            foreach (var roomCategory in Model)
            {
                itemCount++;
                <tr>
                    <td>@itemCount</td>
                    <td>@roomCategory.RoomCategoriesName</td>
                    <td>@roomCategory.Desciptions</td>
                    <td><img src="@roomCategory.Picture" width="50" height="50"></td>
                    <td>
                        @if (@roomCategory.Status)
                        {
                            <button class="btn btn-active" onclick="toggleStatus(this)">Đang hoạt động</button>
                        }
                        else
                        {
                            <button class="btn btn-inactive" onclick="toggleStatus(this)">Ngưng hoạt động</button>
                        }
                    </td>
                    <td>
                        <a class="btn-detail" href="/Manager/RoomCategory/EditRoomCategory?roomCategoryId=@roomCategory.RoomCategoriesId">Chi tiết</a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="5" style="color:red">Không có dữ liệu để hiển thị.</td>
            </tr>
        }
    </tbody>
    <tfoot>
        @if (ViewBag.ErrorMessage != null)
        {
            <div class="alert alert-danger">
                <span style="color:red">@ViewBag.ErrorMessage</span>
            </div>
        }
    </tfoot>
</table>
<script>
    function toggleStatus(button) {
        if (button.classList.contains("btn-active")) {
            button.classList.remove("btn-active");
            button.classList.add("btn-inactive");
            button.textContent = "Ngưng hoạt động";
        }
        else {
            button.classList.remove("btn-inactive");
            button.classList.add("btn-active");
            button.textContent = "Đang hoạt động";
        }
    }
</script>