@using FEPetServices.Form.OrdersForm;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/css/toastNotification.css" rel="stylesheet" />
    <link href="~/css/orders/stylesheet.css" rel="stylesheet" />
</head>
<body>
    <div class="card right-profile-card">
        <div class="card-header alert-primary">
            <ul class="nav nav-pills" id="pills-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="~/Customer/MyOrders/AllOrders?orderStatus=All&page=1&pageSize=5" role="tab" aria-selected="true">Tất cả</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-education-tab" data-toggle="pill" href="~/Customer/MyOrders/WaitingOrders?orderStatus=Waiting&page=1&pageSize=5" role="tab" aria-selected="false">Đơn hàng chờ xử lý</a>
                </li>
                @*                <li class="nav-item">
                <a class="nav-link" id="pills-timeline-tab" data-toggle="pill" href="~/Customer/MyOrders/DeliveryOrders?orderStatus=Delivery&page=1&pageSize=5" role="tab" aria-selected="false">Vận chuyển</a>
                </li>*@
                @* <li class="nav-item">
                <a class="nav-link" id="pills-document-tab" data-toggle="pill" href="~/Customer/MyOrders/Index?orderStatus=All&page=1&pageSize=5" role="tab" aria-selected="false">Chờ giao hàng</a>
                </li>*@
                <li class="nav-item">
                    <a class="nav-link" id="pills-event-tab" data-toggle="pill" href="~/Customer/MyOrders/ReceivedOrders?orderStatus=Received&page=1&pageSize=5" role="tab" aria-selected="false">Đã được xác nhận</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-tasks-tab" data-toggle="pill" href="~/Customer/MyOrders/RejectOrders?orderStatus=Rejected&page=1&pageSize=5" role="tab" aria-selected="false">Đã huỷ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-tasks-tab" data-toggle="pill" href="~/Customer/MyOrders/CompletedOrders?orderStatus=Completed&page=1&pageSize=5" role="tab" aria-selected="false">Hoàn thành</a>
                </li>
            </ul>
        </div>
        <!-- Search bar -->
        <div class="search-bar">
            <input type="text" id="searchInput" placeholder="Search by ID or Name">
            <button onclick="searchOrders()">Search</button>
        </div>

        <div class="card-body">
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">    
                    @if (Model != null && Model.Count > 0)
                    {
                        <div id="orders-container">
                            @if (Context.Request.Headers["X-Requested-With"] == "XMLHttpRequest")
                            {
                                Html.Partial("_OrderPartialView", (List<OrderForm>)Model);
                            }
                            else
                            {
                                @foreach (var order in Model)
                                {
                                    double totalPrice = 0;
                                    <div class="work-container">
                                        <div class="work-container-inner">
                                            <h5>Mã đơn hàng : @order.OrderId</h5>
                                            @if (order.OrderStatus.Trim() == "Confirmed")
                                            {
                                                <span style="display:inline-block" class="badge badge-info">Đơn hàng đã được xác nhận và trong giai đoạn xử lý </span>
                                            }
                                            else if (order.OrderStatus.Trim() == "Processing")
                                            {
                                                <span style="display:inline-block" class="badge badge-info">Đơn hàng đang được thực hiện</span>
                                            }
                                            else if (order.OrderStatus.Trim() == "Placed")
                                            {
                                                <span style="display:inline-block" class="badge badge-info">Đơn hàng đang chờ xác nhận</span>
                                            }
                                            else if (order.OrderStatus.Trim() == "Completed")
                                            {
                                                <span style="display:inline-block" class="badge badge-info">Đơn hàng đã hoàn thành</span>
                                            }
                                            else if (order.OrderStatus.Trim() == "Cancelled")
                                            {
                                                <span style="display:inline-block" class="badge badge-info">Đơn hàng bị huỷ</span>
                                            }
                                        </div>
                                        <p><i class="far fa-calendar-alt"></i> @order.OrderDate</p>

                                        @if (order.OrderProductDetails != null && order.OrderProductDetails.Count > 0)
                                        {
                                            <div class="content-details">
                                                <p class="bold-text">Thông tin sản phẩm đã được đặt hàng</p>
                                                @for (int i = 0; i < order.OrderProductDetails.Count; i++)
                                                {
                                                    var productDetail = order.OrderProductDetails[i];
                                                    totalPrice = totalPrice + (productDetail.Quantity * productDetail.Price);
                                                    <div class="content-detail">
                                                        <div class="product-info">
                                                            <img src="@productDetail.Product.Picture" width="50" height="50" alt="Product Image">
                                                            <div class="product-info-detail">
                                                                <p style="max-width:450px">@productDetail.Product.ProductName</p>
                                                                <p style="font-size:.8rem;"><span>x</span>@productDetail.Quantity</p>
                                                            </div>
                                                        </div>
                                                        <p>@($"{(productDetail.Quantity * productDetail.Price):n0}".Replace(",", ".")) VNĐ</p>
                                                    </div>
                                                    @if (i == order.OrderProductDetails.Count - 1)
                                                    {
                                                        <div class=" status-content-detail">
                                                            @if (productDetail?.StatusOrderProduct?.Trim() == "Placed")
                                                            {
                                                                <span class="badge badge-info">Sản phẩm đang chờ xác nhận</span>
                                                            }
                                                            else if (productDetail?.StatusOrderProduct?.Trim() == "Packaging")
                                                            {
                                                                <span class="badge badge-info">Đóng gói sản phẩm</span>
                                                            }

                                                        </div>
                                                    }
                                                }
                                            </div>
                                        }

                                        @if (order.BookingServicesDetails != null && order.BookingServicesDetails.Count > 0)
                                        {
                                            <div class="content-details">
                                                <p class="bold-text">Thông tin dịch vụ đã được đặt hàng</p>
                                                @foreach (var serviceDetail in order.BookingServicesDetails)
                                                {
                                                    totalPrice = totalPrice + serviceDetail.PriceService;
                                                    <div class="content-detail">
                                                        <div class="service-info">
                                                            <img src="@serviceDetail.Service.Picture" width="50" height="50" alt="Service Image">
                                                            <div class="service-info-detail">
                                                                <p style="max-width:450px">@serviceDetail.Service.ServiceName</p>
                                                                <p style="font-size:.8rem;"><span>Cân nặng thú cưng: </span>@serviceDetail.Weight Kg</p>
                                                           @*     PartnerID*@
                                                                <p style="font-size:.8rem;"><span>Đối tác:</span>@serviceDetail.PartnerInfoId</p>
                                                            </div>
                                                        </div>
                                                        <div class="content-detail-time-service">
                                                            <p style="font-size:.8rem;">Thời gian bắt đầu: @serviceDetail?.StartTime</p>
                                                            <p style="font-size:.8rem;">Thời gian kêt thúc: @serviceDetail?.EndTime</p>
                                                        </div>
                                                        <p>@($"{(serviceDetail.PriceService):n0}".Replace(",", ".")) VNĐ</p>
                                                    </div>
                                                    <div class="status-content-detail">
                                                        @if (@serviceDetail?.StatusOrderService.Trim() == "Placed")
                                                        {
                                                            <span class="badge badge-info">Dịch vụ đang chờ xác nhận</span>
                                                        }
                                                        else if (@serviceDetail?.StatusOrderService?.Trim() == "Waiting")
                                                        {
                                                            <span class="badge badge-info">Dịch vụ đang chờ xử lý </span>
                                                        }
                                                    </div>
                                                }
                                            </div>
                                        }

                                        @if (order.BookingRoomDetails != null && order.BookingRoomDetails.Count > 0)
                                        {
                                            <div class="content-details">
                                                <p class="bold-text">Thông tin phòng đã được đặt hàng</p>
                                                @foreach (var roomDetail in order.BookingRoomDetails)
                                                {
                                                    totalPrice = totalPrice + roomDetail.TotalPrice;
                                                    <div class="content-detail">
                                                        <div class="room-info">
                                                            <img src="@roomDetail.Room.Picture" width="50" height="50" alt="Room Image">
                                                            <div class="room-info-detail">
                                                                <p style="max-width:800px">@roomDetail.Room.RoomName</p>
                                                                @foreach(var roomService in order.BookingRoomServices)
                                                                {
                                                                    <div class="room-info-detail-service">
                                                                        <p style="font-size:.8rem;">Dịch vụ: @roomService.Service.ServiceName</p>
                                                                        <p class="price-service-rooom" style="font-size:.8rem;">@($"{(roomService.PriceService):n0}".Replace(",", ".")) VNĐ</p>
                                                                    </div>
                                                                }
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="content-detail-time">
                                                        <p style="font-size:.9rem;">Thời gian bắt đầu: @roomDetail.StartDate</p>
                                                        <p style="font-size:.9rem;">Thời gian kêt thúc: @roomDetail.EndDate</p>
                                                    </div>
                                                }
                                            </div>
                                        }

                                        <div class="headel-content">
                                            <p>Tổng giá : </p>
                                            <p>@(totalPrice.ToString("n0").Replace(",", ".")) VNĐ</p>
                                        </div>
                                        <div class="work-container-inner">
                                            @if (order != null && order.TypePay != null && order.TypePay.Trim() == "cash")
                                            {
                                                <p>Thanh toán trực tiếp</p>
                                            }
                                            @if (order != null && order.TypePay != null && @order.TypePay.Trim() == "vnpay")
                                            {
                                                <p>Thanh toán bằng hình thức chuyển khoản</p>
                                            }
                                            @if (!@order.StatusPayment)
                                            {
                                                <span class="badge badge-info">Chưa thanh toán</span>
                                            }
                                            else
                                            {
                                                <span class="badge badge-info">Đã thanh toán</span>
                                            }
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    }
                    else
                    {
                        <div class="work-container" style="width:100%">
                         <p style="text-align:center">Chưa có đơn hàng</p>    
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    @*Start Lazy Loading*@
   <script>
        var pageIndex = 1;
        var loading = false;
        var lazyLoadingEnabled = true;

        function loadMore() {
            if (!loading && lazyLoadingEnabled) {
                loading = true;
                $('#loading-indicator').show();

                $.ajax({
                    url: '/Customer/MyOrders/AllOrders',
                    type: 'GET',
                    data: { orderStatus: 'All', page: pageIndex + 1, pageSize: 5 },
                    success: function (data) {
                        if (data.trim() !== '') {
                            $('#orders-container').append(data);
                            pageIndex++;
                        } else {
                            lazyLoadingEnabled = false;
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        lazyLoadingEnabled = false;
                        console.error('AJAX error:', textStatus, errorThrown);
                    },

                    complete: function () {
                        loading = false;
                        $('#loading-indicator').hide();
                    }
                });
            }
        }

        $(window).scroll(function () {
            if (lazyLoadingEnabled && $(window).scrollTop() + $(window).height() >= $(document).height() - 100) {
                loadMore();
            }
        });
    </script>
    @*End Lazy Loading*@
    <script>
        function searchOrders() {
            var searchValue = $('#searchInput').val().trim();

            if (searchValue !== '') {
                $.ajax({
                    url: '/Customer/MyOrders/SearchOrders',
                    type: 'GET',
                    data: { searchValue: searchValue },
                    success: function (data) {
                        $('#orders-container').html(data);
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.error('Search AJAX error:', textStatus, errorThrown);
                    }
                });
            }
        }
    </script>
</body>
</html>
