<html>
<head>
    <meta charset=utf-8>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>


    <link rel="stylesheet" href="~/css/RoomDetailCustomer.css">
</head>
<body>
    <div class="first">
        <h1 class="title">Thông tin phòng</h1>
        <div class="path">
            <a href="/home">Home &ensp;</a> /
            <a href="/home/room">&ensp; Room &ensp;</a> /
            <p>&ensp; Rooms </p>
        </div>
    </div>
    <div class="container">
        <div class="part">
            <div class="image-container">
                <img src="@Model.Picture" class="image">
            </div>
            <div class="part-container">
                <p class="roomName">@Model.RoomName</p>
                <div class="part-content">
                    <div class="part1-content">
                        <p class="part1-serviceTitle">Dịch vụ hiện có:</p>
                        <div class="part1-serviceName">
                            @if (ViewBag.ServiceAvailable != null)
                            {
                                foreach (var service in ViewBag.ServiceAvailable)
                                {
                                    <div class="part1-serviceName-title">
                                        <img src="/img/availableIcon.png" />
                                        <p>@service.Text</p>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                    <div class="part2" style="width: 85%;">
                        <div class="part4-description">
                            <p class="part3-title">Mô tả phòng:</p>
                            <p style="font-size: 15px;">@Model.Desciptions</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="part2-content">
            <p class="part2-serviceTitle">Dịch vụ muốn đặt thêm:</p>
            <div class="part2-serviceName" id="serviceList">
                @if (ViewBag.ServiceUnavailable != null)
                {
                    foreach (var service in ViewBag.ServiceUnavailable)
                    {
                        <div class="part2-serviceName-title">
                            <img src="/img/unavailableIcon.png" style="width: 20px; height: 20px;"/>
                            <div>
                                <p>@service.ServiceName <br> @service.Price đ</p>
                            </div>
                            <div class="checkbox-wrapper-12">
                                <div class="cbx">
                                    <input type="checkbox" id="cbx-12" class="service-checkbox" data-service-name="@service.ServiceName" data-service-price="@service.Price">
                                    <label for="cbx-12"></label>
                                    <svg fill="none" viewBox="0 0 15 14" height="14" width="15">
                                        <path d="M2 8.36364L6.23077 12L13 2"></path>
                                    </svg>
                                </div>
                                <svg>
                                    <defs>
                                        <filter id="goo-12">
                                            <feGaussianBlur result="blur" stdDeviation="4" in="SourceGraphic"></feGaussianBlur>
                                            <feColorMatrix result="goo-12" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 22 -7" mode="matrix" in="blur"></feColorMatrix>
                                            <feBlend in2="goo-12" in="SourceGraphic"></feBlend>
                                        </filter>
                                    </defs>
                                </svg>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
        <div class="part3">
            <p class="part3-title">Thời gian thuê phòng:</p>
            <div class="part3-content">
                <div class="part3-content-child">
                    <div class="form-group">
                        <label for='start-datetime'>Ngày và giờ bắt đầu:</label>
                        <div class='input-group date' id='start-datetime'>
                            <input type='text' class="form-control" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <img src="/img/icon-.png">
                    <div class="form-group">
                        <label for='end-datetime'>Ngày và giờ kết thúc:</label>
                        <div class='input-group date' id='end-datetime'>
                            <input type='text' class="form-control" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Giá thuê theo ngày:</label>
                    <div>
                        <p style="color: red; text-align: center;">@Model.Price.ToString("#,##0", System.Globalization.CultureInfo.InvariantCulture) đ/ngày</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="part4">
            <div class="part4-price">
                <p class="part4-title">Chi tiết giá:</p>
                <div class="price-detail" id="priceDetail">
                    <p class="total-price">Tổng số tiền: 0 đ</p>
                </div>
            </div>
        </div>
        <div class="part5">
            <p>Khi nhấn vào nút này bạn công nhận mình đã đọc và đồng ý với các <a href="/">Điều khoản & điều kiện</a> và <a href="/">Chính sách quyền riêng tư</a> của chúng tôi.</p>
        </div>
    </div>
    <script>
        $(function () {
            var startDate, endDate;

            // Tính toán thời gian hiện tại cộng thêm 3 tiếng
            var minDate = new Date(new Date().getTime() + 3 * 60 * 60 * 1000);

            // Thiết lập datetimepicker cho start-datetime
            $('#start-datetime').datetimepicker({
                format: 'DD/MM/YYYY HH:mm',
                stepping: 60,
                minDate: minDate,
                sideBySide: true,
                enabledHours: [8, 9, 10, 11, 12, 13, 14, 15, 16, 17]
            }).on('dp.change', function (e) {
                startDate = e.date;
                // Cập nhật minDate cho end-datetime
                $('#end-datetime').data("DateTimePicker").minDate(e.date.add(1, 'd'));
            });

            // Thiết lập datetimepicker cho end-datetime
            $('#end-datetime').datetimepicker({
                format: 'DD/MM/YYYY HH:mm',
                stepping: 60,
                sideBySide: true,
                enabledHours: [8, 9, 10, 11, 12, 13, 14, 15, 16, 17]
            }).on('dp.change', function (e) {
                endDate = e.date;
            });
        });
    </script>

    <script>
        // Lấy danh sách checkbox
        var checkboxes = document.querySelectorAll('input[type="checkbox"]');
        // Lấy phần tử hiển thị chi tiết giá
        var priceDetail = document.querySelector('.price-detail');
        // Lấy phần tử hiển thị tổng số tiền
        var totalPrice = document.querySelector('.part4-price');

        // Xử lý sự kiện khi người dùng tích vào checkbox
        checkboxes.forEach(function (checkbox) {
            checkbox.addEventListener('change', function () {
                // Xóa chi tiết giá cũ
                priceDetail.innerHTML = '';
                // Tính lại tổng số tiền
                var total = 0;
                checkboxes.forEach(function (cb) {
                    if (cb.checked) {
                        var serviceName = cb.parentElement.parentElement.querySelector('p').innerText;
                        var servicePrice = parseInt(serviceName.split(' ')[1]);
                        total += servicePrice;
                        priceDetail.innerHTML += serviceName + '<br>';
                    }
                });
                totalPrice.innerText = 'Tổng số tiền: ' + total + ' đ';
            });
        });

        // Lấy phần tử nhập thời gian thuê phòng
        var datetimeInputs = document.querySelectorAll('input[type="datetime-local"]');
        datetimeInputs[0].addEventListener('change', function () {
            datetimeInputs[1].min = datetimeInputs[0].value;
        });
        datetimeInputs[1].addEventListener('change', function () {
            if (datetimeInputs[0].value && datetimeInputs[1].value) {
                var startDate = new Date(datetimeInputs[0].value);
                var endDate = new Date(datetimeInputs[1].value);
                var days = Math.ceil((endDate - startDate) / (1000 * 60 * 60 * 24));
                var dailyPrice = parseInt(document.querySelector('.price').innerText.split(':')[1]);
                totalPrice.innerText += ' + Tiền thuê phòng: ' + (days * dailyPrice) + ' đ';
            }
        });
    </script>

</body>
<link rel="stylesheet" type="text/css" href="css/jquery.datetimepicker.min.css" />
</html>

