<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


</head>

<body class="sticky-header">
    <div class="axil-breadcrumb-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-8">
                    <div class="inner">
                        <ul class="axil-breadcrumb">
                            <li class="axil-breadcrumb-item"><a href="#">Trang chủ</a></li>
                            <li class="separator"></li>
                            <li class="axil-breadcrumb-item"><a href="/Home/Room">Phòng</a></li>
                            <li class="separator"></li>
                            <li class="axil-breadcrumb-item active" aria-current="page">@Model.RoomName</li>
                        </ul>
                        <h1 class="title">Dịch vụ đặt phòng cho thú cưng</h1>
                    </div>
                </div>
                <div class="col-lg-6 col-md-4">
                    <div class="inner">
                        <div class="bradcrumb-thumb">
                            <img src="~/img/Room/imgroom.png" alt="Image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="axil-single-product-area bg-color-white">
        <div class="single-product-thumb axil-section-gap pb--30 pb_sm--20">
            <div class="container">
                <div class="row row--50">
                    <div class="col-lg-6 mb--40">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="product-large-thumbnail-2 single-product-thumbnail axil-product slick-layout-wrapper--15 axil-slick-arrow arrow-both-side-3">
                                    <div class="thumbnail">
                                        <img src="@Model.Picture" alt="Product Images">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mb--40">
                        <div class="single-product-content">
                            <div class="inner">
                                <h2 class="product-title">@Model.RoomName</h2>
                                <div class="price-amount price-offer-amount">
                                    <span class="price current-price">@Model.Price vnđ/h</span>
                                </div>
                                <div class="product-rating">
                                    <div class="star-rating">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="far fa-star"></i>
                                    </div>
                                    <div class="review-link">
                                        <a href="#">(<span>2</span> customer reviews)</a>
                                    </div>
                                </div>
                                <ul class="product-meta">
                                    <h5 class="title">Dịch vụ có sẵn:</h5>
                                    @if (ViewBag.ServiceAvailable != null)
                                    {
                                        foreach (var service in ViewBag.ServiceAvailable)
                                        {
                                            <li style="color: limegreen"><i class="fa fa-check-circle" style="color: limegreen"></i>@service.Text</li>
                                        }
                                    }
                                </ul>
                                <div class="product-desc-wrapper pt_sm--60">
                                    <div class="single-desc mb--30">
                                        <h5 class="title">Mô tả:</h5>
                                        <p>@Model.Desciptions</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End .single-product-thumb -->

        <div class="woocommerce-tabs wc-tabs-wrapper bg-vista-white">
            <div class="container">
                <h5 class="title">Dịch vụ bạn muốn đặt thêm:</h5>

                <div class="product-desc-wrapper mb--30 mb_sm--10">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row row-cols-xl-4 row-cols-sm-2 row-cols-1 row--20">

                                @if (ViewBag.ServiceUnavailable != null)
                                {
                                    foreach (var service in ViewBag.ServiceUnavailable)
                                    {
                                        <div class="col">
                                            <div class="service-box service-style-2">
                                                <div class="checkbox-wrapper">
                                                    <input type="checkbox">
                                                    <svg viewBox="0 0 35.6 35.6">
                                                        <circle class="background" cx="12" cy="12" r="12"></circle>
                                                        <circle class="stroke" cx="12" cy="12" r="10"></circle>
                                                        <polyline class="check" points="8 12 10.5 15 17 8.7"></polyline>
                                                    </svg>
                                                </div>
                                                <div class="icon">
                                                    <img src="@service.Picture" style="width: 45px; height: 45px;">
                                                </div>
                                                <div class="content">
                                                    <h6 class="title">@service.ServiceName</h6>
                                                    <p>@service.Price vnđ</p>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>