<html>
<head>
    <meta charset=utf-8>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="~/css/RoomCustomer.css">
</head>
<body>
    <div class="bg">
        <p class="title">Dịch vụ đặt phòng cho thú cưng</p>
        <div class="container">
            <form method="get">
                <input type="hidden" name="pageSize" value="@ViewBag.pageSize" />
                <input type="hidden" name="sortOrder" value="@ViewBag.SortOrder" />
                <input type="hidden" name="RoomCategoriesId" value="@ViewBag.RoomCategoriesId" />
                <div class="search-container-first" style="display: flex; justify-content: center">
                    <div class="search-container" style="width: 500px;">
                        <input class="input" name="RoomName" type="text" placeholder="Nhập tên phòng" value="@ViewBag.RoomName">
                        <button type="submit" style="border: none; padding: 0; background: none;">
                            <svg viewBox="0 0 24 24" class="search__icon">
                                <g>
                                    <path d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z">
                                    </path>
                                </g>
                            </svg>
                        </button>
                    </div>
                </div>
            </form>
            <div style="display: flex; justify-content: space-between;">
                <div style="display: flex; align-items: flex-end;">
                    <p class="name-search" style="margin-left: 35px;">Hiển thị: </p>
                    <form method="get">
                        <input type="hidden" name="RoomName" value="@ViewBag.RoomName" />
                        <input type="hidden" name="sortOrder" value="@ViewBag.SortOrder" />
                        <input type="hidden" name="RoomCategoriesId" value="@ViewBag.RoomCategoriesId" />
                        <select id="pageSize" name="pageSize" onchange="this.form.submit();">
                            <!option value="8" @(ViewBag.PageSize == 8 ? "selected" : "")>8 phòng/trang</!option>
                            <!option value="12" @(ViewBag.PageSize == 12 ? "selected" : "")>12 phòng/trang</!option>
                            <!option value="24" @(ViewBag.PageSize == 24 ? "selected" : "")>24 phòng/trang</!option>
                            <!option value="48" @(ViewBag.PageSize == 48 ? "selected" : "")>48 phòng/trang</!option>
                        </select>
                    </form>
                </div>
                <div class="sort">
                    @if (ViewBag.Categories != null)
                    {
                        <div style="display: flex; align-items: flex-end;">
                            <p class="name-search">Loại phòng: </p>
                            <form method="get">
                                <input type="hidden" name="RoomName" value="@ViewBag.RoomName" />
                                <input type="hidden" name="sortOrder" value="@ViewBag.SortOrder" />
                                <input type="hidden" name="pageSize" value="@ViewBag.PageSize" />
                                <select id="RoomCategoriesId" name="RoomCategoriesId" onchange="this.form.submit();">
                                    <option value="">Hiển thị tất cả phòng</option>
                                    @foreach (var category in ViewBag.Categories)
                                    {
                                        <!option value="@category.Value" @(ViewBag.RoomCategoriesId == @category.Value ? "selected" : "")>@category.Text</!option>
                                    }
                                </select>
                            </form>
                        </div>
                    }
                    else
                    {
                        <span class="text-danger">Lỗi: Dữ liệu không khả dụng.</span>
                    }
                    <div style="display: flex; align-items: flex-end;">
                        <p class="name-search" style="margin-left: 30px;">Sắp xếp theo: </p>
                        <form method="get" style="margin-right: 35px;">
                            <input type="hidden" name="RoomName" value="@ViewBag.RoomName" />
                            <input type="hidden" name="RoomCategoriesId" value="@ViewBag.RoomCategoriesId" />
                            <input type="hidden" name="pageSize" value="@ViewBag.PageSize" />
                            <select id="sortOrder" name="sortOrder" onchange="this.form.submit();">
                                <!option value="name_asc" @(ViewBag.SortOrder == "name_asc" ? "selected" : "")>Tên từ A-Z</!option>
                                <!option value="name_desc" @(ViewBag.SortOrder == "name_desc" ? "selected" : "")>Tên từ Z-A</!option>
                                <!option value="price" @(ViewBag.SortOrder == "price" ? "selected" : "")>Giá từ thấp đến cao</!option>
                                <!option value="price_desc" @(ViewBag.SortOrder == "price_desc" ? "selected" : "")>Giá từ cao đến thấp</!option>
                            </select>
                        </form>
                    </div>
                </div>
            </div>
            <div class="listRoom">
                @if (Model != null && Model.Count > 0)
                {
                    foreach (var room in Model)
                    {
                        string description = room.Desciptions;

                        if (description.Length > 100)
                        {
                            int lastSpace = description.LastIndexOf(' ', 100);

                            description = (lastSpace > 0) ? description.Substring(0, lastSpace) + "..." : description.Substring(0, 100) + "...";
                        }
                        <div class="block">
                            <ul>
                                <li>
                                    <a href="/Home/RoomDetail">
                                        <div class="room">
                                            <div class="image-container">
                                                <img src="@room.Picture" class="image">
                                                <img src="/img/pictureframe.png" class="frame">
                                            </div>
                                            <div class="name">@room.RoomName</div>
                                            <div class="description">@description</div>
                                            <div class="price">@room.Price đ</div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="5" style="color:red">Không có dữ liệu để hiển thị.</td>
                    </tr>
                }
            </div>
            <div style="text-align:center;">
                <div class="pagination">
                    @if (ViewBag.CurrentPage > 1)
                    {
                        <a href="@Url.Action("Room", new { page = ViewBag.CurrentPage - 1, pageSize = ViewBag.PageSize, RoomName = ViewBag.RoomName, sortOrder = ViewBag.SortOrder, RoomCategoriesId = ViewBag.RoomCategoriesId })">&laquo;</a>
                    }

                    @for (int i = 1; i <= ViewBag.TotalPages; i++)
                    {
                        <a class="active" href="@Url.Action("Room", new { page = i, pageSize = ViewBag.PageSize, RoomName = ViewBag.RoomName, sortOrder = ViewBag.SortOrder, RoomCategoriesId = ViewBag.RoomCategoriesId })">@i</a>
                    }
                    @if (ViewBag.CurrentPage < ViewBag.TotalPages)
                    {
                        <a href="@Url.Action("Room", new { page = ViewBag.CurrentPage + 1, pageSize = ViewBag.PageSize, RoomName = ViewBag.RoomName, sortOrder = ViewBag.SortOrder, RoomCategoriesId = ViewBag.RoomCategoriesId })">&raquo;</a>
                    }
                </div>
            </div>
        </div>
    </div>
</body>
</html>
