<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


</head>

<body class="sticky-header">
    <div class="axil-breadcrumb-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-8">
                    <div class="inner">
                        <ul class="axil-breadcrumb">
                            <li class="axil-breadcrumb-item"><a href="#">Trang chủ</a></li>
                            <li class="separator"></li>
                            <li class="axil-breadcrumb-item"><a href="/Home/Room">Phòng</a></li>
                            <li class="separator"></li>
                            <li class="axil-breadcrumb-item active" aria-current="page">@Model.RoomName</li>
                        </ul>
                        <h1 class="title">Dịch vụ đặt phòng cho thú cưng</h1>
                    </div>
                </div>
                <div class="col-lg-6 col-md-4">
                    <div class="inner">
                        <div class="bradcrumb-thumb">
                            <img src="~/img/Room/imgroom.png" alt="Image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="axil-single-product-area bg-color-white">
        <div class="single-product-thumb axil-section-gap pb--30 pb_sm--20">
            <div class="container">
                <div class="row row--50">
                    <div class="col-lg-6 mb--40">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="product-large-thumbnail-2 single-product-thumbnail axil-product slick-layout-wrapper--15 axil-slick-arrow arrow-both-side-3">
                                    <div class="thumbnail">
                                        <img src="@Model.Picture" alt="Product Images">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mb--40">
                        <div class="single-product-content">
                            <div class="inner">
                                <h2 class="product-title">@Model.RoomName</h2>
                                <div class="price-amount price-offer-amount">
                                    <span class="price current-price">@Model.Price vnđ/h</span>
                                </div>
                                <div class="product-rating">
                                    <div class="star-rating">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="far fa-star"></i>
                                    </div>
                                    <div class="review-link">
                                        <a href="#">(<span>2</span> customer reviews)</a>
                                    </div>
                                </div>
                                <ul class="product-meta">
                                    <h5 class="title">Dịch vụ có sẵn:</h5>
                                    @if (ViewBag.ServiceAvailable != null)
                                    {
                                        foreach (var service in ViewBag.ServiceAvailable)
                                        {
                                            <li style="color: limegreen"><i class="fa fa-check-circle" style="color: limegreen"></i>@service.Text</li>
                                        }
                                    }
                                </ul>
                                <div class="product-desc-wrapper pt_sm--60">
                                    <div class="single-desc mb--30">
                                        <h5 class="title">Mô tả:</h5>
                                        <p>@Model.Desciptions</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End .single-product-thumb -->

        <div class="woocommerce-tabs wc-tabs-wrapper bg-vista-white">
            <div class="container">
                <h5 class="title">Dịch vụ bạn muốn đặt thêm:</h5>

                <div class="product-desc-wrapper mb--30 mb_sm--10">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row row-cols-xl-4 row-cols-sm-2 row-cols-1 row--20">

                                @if (ViewBag.ServiceUnavailable != null)
                                {
                                    foreach (var service in ViewBag.ServiceUnavailable)
                                    {
                                        <div class="col">
                                            <div class="service-box service-style-2">
                                                <div class="checkbox-wrapper">
                                                    <input type="checkbox">
                                                    <svg viewBox="0 0 35.6 35.6">
                                                        <circle class="background" cx="12" cy="12" r="12"></circle>
                                                        <circle class="stroke" cx="12" cy="12" r="10"></circle>
                                                        <polyline class="check" points="8 12 10.5 15 17 8.7"></polyline>
                                                    </svg>
                                                </div>
                                                <div class="icon">
                                                    <img src="@service.Picture" style="width: 45px; height: 45px;">
                                                </div>
                                                <div class="content">
                                                    <h6 class="title">@service.ServiceName</h6>
                                                    <p>@service.Price vnđ</p>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="axil-product-area bg-color-white axil-section-gap pb--50 pb_sm--30">
            <div class="container">
                <div class="reviews-wrapper">
                    <h4 class="mb--60">Đánh giá</h4>
                    <div class="row">
                        <div class="col-lg-12 mb--40">
                            <div class="axil-comment-area pro-desc-commnet-area">
                                <h5 class="title">n đánh giá cho phòng này</h5>
                                <ul class="comment-list">
                                    <!-- Start Single Comment  -->
                                    <li class="comment">
                                        <div class="comment-body">
                                            <div class="single-comment">
                                                <div class="comment-img">
                                                    <img src="~/img/Room/imgroom.png" alt="Author Images">
                                                </div>
                                                <div class="comment-inner">
                                                    <h6 class="commenter">
                                                        <a class="hover-flip-item-wrapper" href="#">
                                                            <span class="hover-flip-item">
                                                                <span data-text="Cameron Williamson">Eleanor Pena</span>
                                                            </span>
                                                        </a>
                                                        <span class="commenter-rating ratiing-four-star">
                                                            <a href="#"><i class="fas fa-star"></i></a>
                                                            <a href="#"><i class="fas fa-star"></i></a>
                                                            <a href="#"><i class="fas fa-star"></i></a>
                                                            <a href="#"><i class="fas fa-star empty-rating"></i></a>
                                                            <a href="#"><i class="fas fa-star empty-rating"></i></a>
                                                        </span>
                                                    </h6>
                                                    <div class="comment-text">
                                                        <p>“Dánh giá có nghĩa nhận định giá trị. Những từ có nghĩa gần với đánh giá là phê bình, nhận xét, nhận định, bình luận, xem xét.[1] Đánh giá một đối tượng nào đó, chẳng hạn một con người, một tác phẩm nghệ thuật, một sản phẩm hàng hoá hay dịch vụ, đội ngũ giáo viên hay đánh giá tác động môi trường và có ý nghĩa quan trọng trong nhiều lĩnh vực như chính trị, nghệ thuật, thương mại, giáo dục hay môi trường. ” </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="comment">
                                        <div class="comment-body">
                                            <div class="single-comment">
                                                <div class="comment-img">
                                                    <img src="~/img/Room/imgroom.png" alt="Author Images">
                                                </div>
                                                <div class="comment-inner">
                                                    <h6 class="commenter">
                                                        <a class="hover-flip-item-wrapper" href="#">
                                                            <span class="hover-flip-item">
                                                                <span data-text="Cameron Williamson">Eleanor Pena</span>
                                                            </span>
                                                        </a>
                                                        <span class="commenter-rating ratiing-four-star">
                                                            <a href="#"><i class="fas fa-star"></i></a>
                                                            <a href="#"><i class="fas fa-star"></i></a>
                                                            <a href="#"><i class="fas fa-star empty-rating"></i></a>
                                                            <a href="#"><i class="fas fa-star empty-rating"></i></a>
                                                            <a href="#"><i class="fas fa-star empty-rating"></i></a>
                                                        </span>
                                                    </h6>
                                                    <div class="comment-text">
                                                        <p>“Dánh giá có nghĩa nhận định giá trị. Những từ có nghĩa gần với đánh giá là phê bình, nhận xét, nhận định, bình luận, xem xét.[1] Đánh giá một đối tượng nào đó, chẳng hạn một con người, một tác phẩm nghệ thuật, một sản phẩm hàng hoá hay dịch vụ, đội ngũ giáo viên hay đánh giá tác động môi trường và có ý nghĩa quan trọng trong nhiều lĩnh vực như chính trị, nghệ thuật, thương mại, giáo dục hay môi trường. ” </p>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="comment">
                                        <div class="comment-body">
                                            <div class="single-comment">
                                                <div class="comment-img">
                                                    <img src="~/img/Room/imgroom.png" alt="Author Images">
                                                </div>
                                                <div class="comment-inner">
                                                    <h6 class="commenter">
                                                        <a class="hover-flip-item-wrapper" href="#">
                                                            <span class="hover-flip-item">
                                                                <span data-text="Cameron Williamson">Eleanor Pena</span>
                                                            </span>
                                                        </a>
                                                        <span class="commenter-rating ratiing-four-star">
                                                            <a href="#"><i class="fas fa-star"></i></a>
                                                            <a href="#"><i class="fas fa-star"></i></a>
                                                            <a href="#"><i class="fas fa-star"></i></a>
                                                            <a href="#"><i class="fas fa-star"></i></a>
                                                            <a href="#"><i class="fas fa-star empty-rating"></i></a>
                                                        </span>
                                                    </h6>
                                                    <div class="comment-text">
                                                        <p>“Dánh giá có nghĩa nhận định giá trị. Những từ có nghĩa gần với đánh giá là phê bình, nhận xét, nhận định, bình luận, xem xét.[1] Đánh giá một đối tượng nào đó, chẳng hạn một con người, một tác phẩm nghệ thuật, một sản phẩm hàng hoá hay dịch vụ, đội ngũ giáo viên hay đánh giá tác động môi trường và có ý nghĩa quan trọng trong nhiều lĩnh vực như chính trị, nghệ thuật, thương mại, giáo dục hay môi trường. ” </p>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <!-- End Single Comment  -->
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>