﻿<html>
<head>
    <meta charset=utf-8>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/HomeService.css">

</head>

<body>
    <div class="bg">
        <div class="first">
            <h1 class="title">Dịch vụ cho thú cưng</h1>
            <div class="path">
                <a href="/home">Home &ensp;</a> /
                <p>&ensp; Rooms </p>
            </div>
        </div>
        <div class="container">
            <div class="containerLeft">
                <div class="containerprice">
                    <div>
                        <form method="get">
                            <input type="hidden" name="sortby" value="@ViewBag.sortby" />
                            <input type="hidden" name="CategoriesName" value="@ViewBag.CategoriesName" />
                            <input type="hidden" name="pagesize" value="@ViewBag.pagesize" />
                            <input type="hidden" name="viewstyle" value="@ViewBag.viewstyle" />
                        </form>
                    </div>
                </div>
                <div>
                    <h3>Sắp xếp theo:</h3>
                    <div>
                        <form method="get" id="sortForm">
                            <input type="hidden" name="CategoriesName" value="@ViewBag.CategoriesName" />
                            <input type="hidden" name="pagesize" value="@ViewBag.pagesize" />
                            <input type="hidden" name="viewstyle" value="@ViewBag.viewstyle" />

                            <div>
                                <a class="containerCate" href="javascript:void(0);" onclick="sortBy('name_asc')">
                                    <label>
                                        <input type="checkbox" value="name_asc" @(ViewBag.sortby == "name_asc" ? "checked" : "")>
                                        <p>Tên từ A-Z</p>
                                    </label>
                                </a>
                                <a class="containerCate" href="javascript:void(0);" onclick="sortBy('name_desc')">
                                    <label>
                                        <input type="checkbox" value="name_desc" @(ViewBag.sortby == "name_desc" ? "checked" : "")>
                                        <p>Tên từ Z-A</p>
                                    </label>
                                </a>
                                <a class="containerCate" href="javascript:void(0);" onclick="sortBy('price')">
                                    <label>
                                        <input type="checkbox" value="price" @(ViewBag.sortby == "price" ? "checked" : "")>
                                        <p>Giá từ thấp đến cao</p>
                                    </label>
                                </a>
                                <a class="containerCate" href="javascript:void(0);" onclick="sortBy('price_desc')">
                                    <label>
                                        <input type="checkbox" value="price_desc" @(ViewBag.sortby == "price_desc" ? "checked" : "")>
                                        <p>Giá từ cao đến thấp</p>
                                    </label>
                                </a>
                            </div>
                            <input type="hidden" id="sortby" name="sortby" value="" />
                        </form>
                    </div>
                </div>
            </div>
            <div class="containerRight">
                <div class="container1">
                    <div class="container12">
                        <form class="form" method="get">
                            <input type="hidden" name="sortby" value="@ViewBag.sortby" />
                            <input type="hidden" name="pagesize" value="@ViewBag.pagesize" />
                            <input type="hidden" name="viewstyle" value="@ViewBag.viewstyle" />

                            <label for="search">
                                <input class="input" name="CategoriesName" type="text" placeholder="Nhập tên phòng" value="@ViewBag.CategoriesName">
                                <div class="fancy-bg"></div>
                                <div class="search">
                                    <svg viewBox="0 0 24 24" aria-hidden="true" class="r-14j79pv r-4qtqp9 r-yyyyoo r-1xvli5t r-dnmrzs r-4wgw6l r-f727ji r-bnwqim r-1plcrui r-lrvibr">
                                        <g>
                                            <path d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z"></path>
                                        </g>
                                    </svg>
                                </div>
                            </label>
                        </form>
                    </div>
                    <div class="container11">
                        <div class="container11-content">
                            <div class="name-search">Hiển thị: </div>
                            <form method="get">
                                <input type="hidden" name="sortby" value="@ViewBag.sortby" />
                                <input type="hidden" name="CategoriesName" value="@ViewBag.CategoriesName" />
                                <input type="hidden" name="viewstyle" value="@ViewBag.viewstyle" />

                                <select id="pageSize" name="pagesize" onchange="this.form.submit();">
                                    <!option value="6" @(ViewBag.PageSize == 6 ? "selected" : "")>6 phòng</!option>
                                    <!option value="9" @(ViewBag.PageSize == 9 ? "selected" : "")>9 phòng</!option>
                                    <!option value="12" @(ViewBag.PageSize == 12 ? "selected" : "")>12 phòng</!option>
                                    <!option value="24" @(ViewBag.PageSize == 24 ? "selected" : "")>24 phòng</!option>
                                </select>
                            </form>
                        </div>
                        <div class="container11-content">
                            <div class="name-search">Kiểu xem: </div>
                            <form method="get">
                                <input type="hidden" name="sortby" value="@ViewBag.sortby" />
                                <input type="hidden" name="CategoriesName" value="@ViewBag.CategoriesName" />
                                <input type="hidden" name="pagesize" value="@ViewBag.pagesize" />

                                <a class="a1" href="/home/ServiceList?CategoriesName=@ViewBag.CategoriesName&sortby=@ViewBag.sortby&pagesize=@ViewBag.pagesize&viewstyle=grid">
                                    <i class="fa-solid fa-table-cells" style="width: 15px; height: 15px; color:black;"></i>
                                </a>
                                <a href="/home/ServiceList?CategoriesName=@ViewBag.CategoriesName&sortby=@ViewBag.sortby&pagesize=@ViewBag.pagesize&viewstyle=listview">
                                    <i class="fa-solid fa-list-ul" style="width: 24px; height: 24px; color:black;"></i>
                                </a>
                            </form>
                        </div>
                    </div>
                </div>
                <div>
                    @if (ViewBag.viewstyle == "grid" || ViewBag.viewstyle == null)
                    {
                        <div class="listRoom-grid">
                            @if (Model != null && Model.Count > 0)
                            {
                                foreach (var room in Model)
                                {
                                    string description = room.Desciptions;

                                    if (description != null)
                                    {
                                        if (description.Length > 100)
                                        {
                                            int lastSpace = description.LastIndexOf(' ', 100);
                                            description = (lastSpace > 0) ? description.Substring(0, lastSpace) + "..." : description.Substring(0, 100) + "...";
                                        }
                                       
                                    }
                                    else
                                    {
                                        description = ""; // Trường hợp room.Descriptions là null, trả về chuỗi rỗng.
                                    }


                                    <div class="block">
                                        <div>
                                            <div class="room">
                                                <div class="image-container">
                                                    <img src="@room.Picture" class="image">
                                                </div>
                                                <a class="name" href="/Home/RoomDetail?roomId=">@room.SerCategoriesName</a>
                                                <div class="description">@description</div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="5" style="color:red">Không có dữ liệu để hiển thị.</td>
                                </tr>
                            }
                        </div>
                    }
                    @if (ViewBag.viewstyle == "listview")
                    {
                        <div class="listRoom-listview">
                            @if (Model != null && Model.Count > 0)
                            {
                                foreach (var room in Model)
                                {
                                    string description = room.Desciptions;

                                        if (description != null)
                                        {
                                            if (description.Length > 100)
                                            {
                                                int lastSpace = description.LastIndexOf(' ', 100);
                                                description = (lastSpace > 0) ? description.Substring(0, lastSpace) + "..." : description.Substring(0, 100) + "...";
                                            }
                                        }
                                        else
                                        {
                                            description = ""; 
                                        }
                                    <div class="block">
                                        <div>
                                            <div class="room">
                                                <div class="image-container">
                                                    <img src="@room.Picture" class="image">
                                                </div>
                                                <div class="text-container">
                                                    <div>
                                                        <a class="name" href="/Home/RoomDetail?roomId=">@room.SerCategoriesName</a>
                                                        <div class="description">@description</div>
                                                    </div>
                                                    <div>
                                                        <a href="/Home/RoomDetail?roomId=">
                                                            <button class="detail">
                                                                <span>Xem chi tiết</span>
                                                            </button>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="5" style="color:red">Không có dữ liệu để hiển thị.</td>
                                </tr>
                            }
                        </div>
                    }
                </div>
                <div style="text-align:center;">
                    <div class="pagination">
                        @if (ViewBag.CurrentPage > 1)
                        {
                            <a href="@Url.Action("ServiceList", new { page = ViewBag.CurrentPage - 1, sortby=ViewBag.sortby, CategoriesName=ViewBag.CategoriesName, pagesize=@ViewBag.pagesize, viewstyle=@ViewBag.viewstyle })">&laquo;</a>
                        }

                        @for (int i = 1; i <= ViewBag.TotalPages; i++)
                        {
                            <a class="active" href="@Url.Action("ServiceList", new { page = i, sortby=ViewBag.sortby, CategoriesName=ViewBag.CategoriesName, pagesize=@ViewBag.pagesize, viewstyle=@ViewBag.viewstyle })">@i</a>
                        }
                        @if (ViewBag.CurrentPage < ViewBag.TotalPages)
                        {
                            <a href="@Url.Action("ServiceList", new { page = ViewBag.CurrentPage + 1, sortby=ViewBag.sortby,  CategoriesName=ViewBag.CategoriesName, pagesize=@ViewBag.pagesize, viewstyle=@ViewBag.viewstyle })">&raquo;</a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        document.querySelectorAll('#myForm input[type="checkbox"]').forEach(function (checkbox) {
            checkbox.addEventListener('click', function () {
                if (this.checked) {
                    document.getElementById('roomcategory').value = this.value;
                } else {
                    document.getElementById('roomcategory').value = null;
                }
                document.getElementById('myForm').submit();
            });
        });

        document.querySelectorAll('#sortForm input[type="checkbox"]').forEach(function (checkbox) {
            checkbox.addEventListener('click', function () {
                if (this.checked) {
                    document.getElementById('sortby').value = this.value;
                } else {
                    document.getElementById('sortby').value = null;
                }
                document.getElementById('sortForm').submit();
            });
        });

    </script>
</body>
</html>