<!DOCTYPE html>
<html>
  <head>
    <meta charset=utf-8>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="~/css/HomeService.css"></link>
  </head>
  <body>
    <div class="container">
    <h1 class="heading"> Dịch Vụ Thú Cưng</h1>
    
    <div class="group">
       <img class="icon" src="/img/kitty.png">
       <input placeholder="Search" type="search" class="input">
    </div>
    
    <div class="card-container">
        @foreach (var serviceCategory in Model)
        {
            string description = serviceCategory.Desciptions;

                if (description?.Length > 100)
                {
                    int lastSpace = description.LastIndexOf(' ', 100);

                    description = (lastSpace > 0) ? description.Substring(0, lastSpace) + "..." : description.Substring(0, 100) + "...";
                }
        <div class="card">
            <div class="image">
               <img src="@serviceCategory.Picture">
            </div>
        

           <div class="card-content">

             <h3>@serviceCategory.SerCategoriesName</h3>

             <p>@description</p>

           </div>
           <div class="learn">
             <a href="" class="learn-more">Xem Chi Tiết</a>
           </div>

        </div>
         }
     </div>
  <div style="text-align:center;">   
      @if (ViewBag.TotalPages > 1)
        {

         <div class="pagination">
             @if (ViewBag.CurrentPage > 1)
                    {
                        <a href="@Url.Action("ServiceList", new { page = ViewBag.CurrentPage - 1, pageSize = ViewBag.PageSize })">&laquo;</a>
                    }

               @for (int i = 1; i <= ViewBag.TotalPages; i++)
                    {
                     <a class="active" href="@Url.Action("ServiceList", new { page = i, pageSize = ViewBag.PageSize })">@i</a>
                    @* <a class="active@(ViewBag.CurrentPage == i ? "active" : "")" href="@Url.Action("ServiceList", new { page = i, pageSize = ViewBag.PageSize })">@i</a>*@
      
                    }
                @if (ViewBag.CurrentPage < ViewBag.TotalPages)
                    {
                     <a href="@Url.Action("ServiceList", new { page = ViewBag.CurrentPage + 1, pageSize = ViewBag.PageSize })">&raquo;</a>
                     @*<a href="@Url.Action("ServiceList", new { page = ViewBag.CurrentPage + 1, pageSize = ViewBag.PageSize })">Next</a> *@  
                    }
        </div>
}</div>
</div>
  </body>
</html>
