<!DOCTYPE html>
<html>
  <head>
    <meta charset=utf-8>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="~/css/HomeService.css"></link>
  </head>
  <body>
    <div class="container">
    <h1 class="heading"> Dịch Vụ Thú Cưng</h1>
    <div> 
     <form method="get">
       <div class="group">
          <img class="icon" src="/img/kitty.png">
           <input type="hidden" value="@ViewBag.pageSize" name="pageSize" />
            <input class="input" name="CategoriesName" type="text" placeholder="Nhập tên phòng" value="@ViewBag.CategoriesName">
        </div>
    </form>
</div>
                <div style="display: flex; align-items: flex-end;">
                    <p class="name-search" style="margin-left: 35px;">Hiển thị: </p>
                    <form method="get">
                        <input type="hidden" name="CategoriesName" value="@ViewBag.CategoriesName" />
                        @*<input type="hidden" name="sortOrder" value="@ViewBag.SortOrder" />
                        <input type="hidden" name="RoomCategoriesId" value="@ViewBag.RoomCategoriesId" />*@
                        <select id="pageSize" name="pageSize" onchange="this.form.submit();">
                            <!option value="4" @(ViewBag.PageSize == 4 ? "selected" : "")>4 Dịch Vụ</!option>
                            <!option value="8" @(ViewBag.PageSize == 8 ? "selected" : "")>8 Dịch Vụ</!option>
                            <!option value="12" @(ViewBag.PageSize == 12 ? "selected" : "")>12 Dịch Vụ</!option>
                            <!option value="24" @(ViewBag.PageSize == 24 ? "selected" : "")>24 Dịch Vụ</!option>
                        </select>
                    </form>
                </div>
           @*   <div class="sort">
                 <div style="display: flex; align-items: flex-end;">
                        <p class="name-search" style="margin-left: 30px;">Sắp xếp theo: </p>
                        <form method="get" style="margin-right: 35px;">
                            <input type="hidden" name="CategoriesName" value="@ViewBag.CategoriesName" /> 
                            <input type="hidden" name="pageSize" value="@ViewBag.PageSize" />
                            <select id="sortOrder" name="sortOrder" onchange="this.form.submit();">
                                <!option value="name_asc" @(ViewBag.SortOrder == "name_asc" ? "selected" : "")>Tên từ A-Z</!option>
                                <!option value="name_desc" @(ViewBag.SortOrder == "name_desc" ? "selected" : "")>Tên từ Z-A</!option>
                                
                            </select>
                        </form>
                    </div>
                </div>
              </div>*@
            <div class="card-container">
            @if (Model != null && Model.Count > 0)
            {
                @foreach (var serviceCategory in Model)
                {
                    string description = serviceCategory.Desciptions;

                    if (description?.Length > 100)
                    {
                        int lastSpace = description.LastIndexOf(' ', 100);

                        description = (lastSpace > 0) ? description.Substring(0, lastSpace) + "..." : description.Substring(0, 100) + "...";
                    }

                    // Kiểm tra trạng thái trước khi hiển thị
                    if (serviceCategory.Status)
                    {
                        <div class="card">
                            <div class="image">
                                <img src="@serviceCategory.Picture">
                            </div>

                            <div class="card-content">
                                <h3>@serviceCategory.SerCategoriesName</h3>
                                <p>@description</p>
                            </div>
                   
                            <div class="learn">
                              <a href="~/Home/ServiceDetail?serviceCategoryId=@serviceCategory.SerCategoriesId" class="learn-more">Xem Chi Tiết</a>
                            </div>
                            
       
                        </div>
                    }
                    else
                    {
                        
                    }
                }
            }
            else
            {
                <tr>
                    <td colspan="5" style="color:red">Không có dữ liệu để hiển thị.</td>
                </tr>
            }
        </div>

  <div style="text-align:center;">   
            @if (ViewBag.TotalPages > 1)
            {
                <ul class="pagination">
                    @if (ViewBag.CurrentPage > 1)
                    {
                        <li class="page-item">
                            <a class="page-link" href="@Url.Action("ServiceList", new { page = ViewBag.CurrentPage - 1, pageSize = ViewBag.PageSize , CategoriesName = ViewBag.CategoriesName })">Previous</a>
                        </li>
                    }

                    @for (int i = 1; i <= ViewBag.TotalPages; i++)
                    {
                        <li class="page-item @(ViewBag.CurrentPage == i ? "active" : "")">
                            <a class="page-link" href="@Url.Action("ServiceList", new { page = i, pageSize = ViewBag.PageSize, CategoriesName = ViewBag.CategoriesName })">@i</a>
                        </li>
                    }
                    @if (ViewBag.CurrentPage < ViewBag.TotalPages)
                    {
                        <li class="page-item">
                            <a class="page-link" href="@Url.Action("ServiceList", new { page = ViewBag.CurrentPage + 1, pageSize = ViewBag.PageSize,CategoriesName = ViewBag.CategoriesName})">Next</a>
                        </li>
                    }
                </ul>
            }
        </div>
</div>
  </body>
</html>