<!DOCTYPE html>
<html>
<head>
    <title>Order Partner Detail</title>
    <link href="~/css/manager/print.css" rel="stylesheet" />
    <link href="~/css/toastNotification.css" rel="stylesheet" />
</head>
<body>
    <div class="container print-container">
        <h2>Chi tiết đơn hàng</h2>
        @*Thông tin đơn hàng*@
        <form method="post" action="@Url.Action("OrderPartnerDetail", "HomePartner")">
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Ngày mua hàng :</label>
                <div class="col-sm-9">
                    <input type="text" readonly class="form-control-plaintext" value="@Model.OrderDate">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Trạng thái :</label>
                <div class="col-sm-9" style="padding-top:8px">
                    @if (Model.OrderStatus.Trim() == "Completed")
                    {
                        <span style="background-color: green; color:#fff">Đã hoàn thành</span>
                    }
                    else if (Model.OrderStatus.Trim() == "Rejected")
                    {
                        <span style="background-color: red; color:#fff">Đơn hàng bị huỷ</span>
                    }
                    else if (Model.OrderStatus.Trim() == "Waiting")
                    {
                        <span style="background-color: yellow;color:green">Đang chờ xác nhận</span>
                    }
                    else if (Model.OrderStatus.Trim() == "Received_Services")
                    {
                        <span style="background-color: pink;color:deeppink">Đơn hàng đã được xác nhận</span>
                    }
                    else if (Model.OrderStatus.Trim() == "Delivering")
                    {
                        <span style="background-color: pink;color:deeppink">Đang giao hàng</span>
                    }
                </div>
            </div>
            @*Thông tin khách hàng*@
            <h3>Thông tin khách hàng</h3>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Tên Khách Hàng :</label>
                <div class="col-sm-9">
                    <input type="text" readonly class="form-control-plaintext" value="@Model.UserInfo.FirstName @Model.UserInfo.LastName">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Địa chỉ :</label>
                <div class="col-sm-9">
                    <input type="text" readonly class="form-control-plaintext"
                           value="@Model.Province , @Model.District , @Model.Commune">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Địa chỉ cụ thể :</label>
                <div class="col-sm-9">
                    <input type="text" readonly class="form-control-plaintext" value="@Model.Address">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Thông tin liên hệ :</label>
                <div class="col-sm-9">
                    <input type="text" readonly class="form-control-plaintext" value="@Model.UserInfo.Phone">
                </div>
            </div>
            <h3>Thông tin dịch vụ</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>Tên dịch vụ</th>
                        <th>Cân Nặng</th>
                        <th>Giá từng sản phẩm</th>
                        <th>Tổng giá</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var serviceDetail in Model.BookingServicesDetails)
                    {
                        <tr>
                            <td>@serviceDetail.Service.ServiceName</td>
                            <td>@serviceDetail.Weight</td>
                            <td>@(serviceDetail.Price.ToString("n0").Replace(",", ".")) VNĐ</td>
                            <td>@((serviceDetail.Price * serviceDetail.Weight).ToString("n0").Replace(",", ".")) VNĐ</td>
                        </tr>
                    }
                </tbody>
            </table>



            @if (Model.OrderStatus.Trim() == "Waiting")
            {
                <input type="hidden" name="orderId" value="@Model?.OrderId" />
                <input type="hidden" name="oldStatus" value="@Model?.OrderStatus.Trim()" />
                <div style="display:flex;">
                    @*@if (Model.BookingServicesDetails.PartnerInfoId != null){}*@
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="receivedCheckbox" name="newStatus" value="Received_Services">
                        <label class="form-check-label" for="receivedCheckbox" style="background-color: green; color:#fff">Nhận Đơn</label>
                    </div>

                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="rejectedCheckbox" name="newStatus" value="Waiting" onchange="handleRejectChange()">
                        <label class="form-check-label" for="rejectedCheckbox" style="background-color: red; color:#fff">Hủy Đơn</label>
                    </div>
                    <div id="reasonSelect" style="display: none;" class="form-group">
                        <div style="display:flex;">
                            <div class="title" style="padding-right: 10px;">
                                <label for="ReasonId">Lý Do Hủy Đơn: </label>
                            </div>
                            <div class="typeinput">
                                @if (ViewBag.Reasons != null)
                                {
                                    <select id="ReasonId" name="ReasonId" required onchange="handleReasonChange(this)">
                                        <option value="Lý do">Chọn Lý Do Hủy Đơn</option>
                                        @foreach (var rea in ViewBag.Reasons)
                                        {
                                            <option value="@rea.Value">@rea.Text</option>
                                        }
                                        <option value="khac">Lý Do Hủy Đơn Khác</option>
                                    </select>
                                }
                                else
                                {
                                    <span class="text-danger">Error</span>
                                }
                            </div>
                        </div> 

                        
                    </div>
                        
                </div>
                <div id="lydoKhac" style="display: none;">
                    <div>
                        <label for="title">Tiêu Đề:</label>
                        <input type="text" id="title" name="title" style="width:100%" placeholder="Nhập Tiêu Đề">
                    </div>
                    <div>
                        <label for="description">Mô Tả:</label>
                        <textarea id="description" name="description" style="width:100%" placeholder="Nhập Mô Tả"></textarea>
                    </div>  
                </div>
                
            @*<form method="post" asp-controller="HomePartner" asp-action="OrderPartnerDetail">*@
                @Html.AntiForgeryToken()
                <button class="btn btn-primary" type="submit">Xác nhận</button>

                
            }
        </form>
        @*<button class="btn btn-primary" onclick="window.print()">In hoá đơn</button>*@

        <div class="btn-group">
            @if (Model.OrderStatus.Trim() == "Completed")
            {
                <a class="btn btn-primary" href="~/Partner/HomePartner/ListOrderPartnerComplete">Trở lại</a>
            }
            else if (Model.OrderStatus.Trim() == "Waiting")
            {
                <a class="btn btn-primary" href="~/Partner/HomePartner/ListOrderPartner">Trở lại</a>
            }
            else if (Model.OrderStatus.Trim() == "Received_Services")
            {
                <a class="btn btn-primary" href="~/Partner/HomePartner/ListOrderPartnerReceived">Trở lại</a>
            }
            else
            {
                <a class="btn btn-primary" href="~/Partner/HomePartner/ListOrderPartnerSpecial">Trở lại</a>
            }
        </div>
    </div>
    <script>
        // Xử lý sự kiện khi chọn nút radio "Rejected"
        $('#rejectedCheckbox').on('change', function () {
            if ($(this).prop('checked')) {
                $('#reasonSelect').show();  // Hiển thị select dropdown khi nút radio "Rejected" được chọn
            } else {
                $('#reasonSelect').hide();  // Ẩn select dropdown khi nút radio "Rejected" không được chọn
            }
        });
    </script>

    <script>
        function handleRejectChange() {
            var partnerIdInput = document.getElementById('partnerId');
            partnerIdInput.value = null;
            // Hiển thị hoặc ẩn phần lý do hủy đơn tùy thuộc vào giá trị chọn
            var reasonSelectDiv = document.getElementById('reasonSelect');
            var lydoKhacDiv = document.getElementById('lydoKhac');
            if (document.getElementById('rejectedCheckbox').checked) {
                reasonSelectDiv.style.display = 'block';
            } else {
                reasonSelectDiv.style.display = 'none';
                lydoKhacDiv.style.display = 'none';
            }
        }
        function handleReasonChange(selectElement) {
            var lydoKhacDiv = document.getElementById('lydoKhac');

            if (selectElement.value == 'khac') {
                lydoKhacDiv.style.display = 'block';  // Hiển thị div khi chọn lựa chọn "Lý Do Hủy Đơn Khác"
            } else {
                lydoKhacDiv.style.display = 'none';   // Ẩn div khi chọn bất kỳ lựa chọn khác
            }
        }
    </script>
</body>
</html>
